<body class="nav-md" #maintoggle>
        <div class="container body">
          <div class="main_container">
           
            <client-header> </client-header>

            <div class="right_col" role="main">
                  <div class="row tile_count">
                        <div class="page-title">
                                <div class="title_left">
                                  <h3 style="margin-left: 10px" *ngIf="englishFlag"> Print Labels / PDF </h3>
                                  <h3 style="margin-left: 10px" *ngIf="chinessFlag"> 打印标签 / PDF </h3>
                                </div>
                        </div>
                  </div>
    
                  <div class="printlabel_search row">
                        <div class="col-md-3">
                          <p style="float: left" *ngIf="englishFlag"> Select File To Download PDF : </p>
                          <p style="float: left" *ngIf="chinessFlag"> 选择文件下载PDF : </p>
                        </div>
                        
                        <div class="col-md-4">
                              <p-dropdown 
                              [options]="cities2" 
                              [(ngModel)]="fileName" 
                              optionLabel="name" 
                              [ngModelOptions]="{standalone: true}"
                              [showClear]="true"
                              [editable]="true"
                              [style]="{'width':'100%'}"
                              (onChange)="onFileChange($event)">
                          </p-dropdown>
                        </div>

                        <div class="col-md-2">
                          <button type="button" 
                                  class="btn btn-info"
                                  *ngIf="englishFlag" 
                                  (click)="zibraSearch()"
                                  style="background-color: #16A085">
                                  <span class="glyphicon glyphicon-search"></span>
                                  Search
                          </button>

                          <button type="button" 
                                  class="btn btn-info" 
                                  *ngIf="chinessFlag"
                                  (click)="zibraSearch()"
                                  style="background-color: #16A085">
                                  <span class="glyphicon glyphicon-search"></span>
                                  搜索
                          </button>
                        </div>   
                  </div>

                  <div class="printlabel_panel">

                      <div style="margin-top: 25px;">
                          <p class="success_msg">{{successMsg}}</p>
                      </div>

                      <div style="margin-top: 25px;">
                          <p class="err_msg">{{errorMsg}}</p>
                      </div>

                      <ngx-spinner
                                bdColor="rgba(51,51,51,0.8)"
                                size="medium"
                                color="#fff"
                                loadingText="Loading..."
                                type="ball-circus">
                      </ngx-spinner>

                      <button 
                          type="button" 
                          class="btn btn-info" 
                          *ngIf="englishFlag" 
                          (click)="downLoadLabels()"
                          style="background-color: #16A085; float:right; margin-right:20px; margin-top:10px">
                          <span class="fa fa-file-pdf-o"></span>
                          Generate PDF
                      </button>

                      <button 
                          type="button" 
                          class="btn btn-info" 
                          *ngIf="chinessFlag"
                          (click)="downLoadLabels()"
                          style="background-color: #16A085; float:right; margin-right:20px; margin-top:10px">
                          <span class="fa fa-file-pdf-o"></span>
                          生成PDF
                      </button>
    
                      <div style="padding:20px">
                          
                        <p *ngIf="englishFlag"> Please select below records to Download </p>
                        <p *ngIf="chinessFlag"> 请选择以下记录下载 </p>
                        
                          <div>
                              <ag-grid-angular 
                                        #agGrid style="width: 100%; height: 500px;" 
                                        class="ag-theme-balham" 
                                        [autoGroupColumnDef]="autoGroupColumnDef"
                                        [rowData]="rowData"
                                        [enableSorting]="true"
                                        [enableFilter]="true"
                                        [suppressRowClickSelection]="true"
                                        [groupSelectsChildren]="true"
                                        [debug]="true"
                                        [enableColResize]="true"
                                        [rowGroupPanelShow]="rowGroupPanelShow"
                                        [enableRangeSelection]="true"
                                        [pagination]="true"
                                        [defaultColDef]="defaultColDef"
                                        [gridOptions]="gridOptions" 
                                        [pagination]="true"
                                        (selectionChanged)="onSelectionChange()">
                              </ag-grid-angular>
                          </div>
                      </div>
                  </div>
               </div>

               <footer id="footer" class="wow fadeIn">
                  <div class="copyright">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="text">
                              <p *ngIf="englishFlag">&copy; Copyright 2018<span></span><a>{{system}}</a> (Distributor)</p>
                              <p *ngIf="chinessFlag">&copy; 版权 2018<span></span><a>{{system}}</a> (分销商)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
               </footer>

          </div>
        </div>
      </body>
    