<!-- Start Header -->
		<header id="header">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-12 col-xs-12">
							<!-- Logo -->
							<div class="logo">
							</div>
							<!--/ End Logo -->
						</div>
						<div class="col-md-10 col-sm-12 col-xs-12">
							<div class="nav-area">
								<!-- Main Menu -->
								<nav class="mainmenu">
									<div class="mobile-nav"></div>
									<div class="collapse navbar-collapse">
										<ul class="nav navbar-nav menu">
											<li class="active"><a href="#j-slider">Home</a></li>
											<li><a routerLink="/service">Services</a></li>
                                <li><a routerLink="/about">About Us</a></li>
                                <li><a routerLink="/whychoose">Why Choose</a></li>
                               	
                                <li><a routerLink="/contact">Contact US</a></li>
                                <li><a routerLink="/policy">Legal</a></li>
                                <li><a routerLink="/track-parcel">Track Parcel</a></li>
											
											<li><a href="" data-toggle="modal" data-target="#myModal">Login</a></li>
										</ul>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
		</header>
	<!--/ End Header -->

	<!--Start Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		<div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
			<div class="modal-body">
				<div class="limiter">
					<div class="container-login100">
						<div class="wrap-login100">
							<div class="login100-pic js-tilt" data-tilt>
								<img src="../../../assets/img/d2z-logo-login.png" alt="IMG">
							</div>
			
							<form class="login100-form validate-form" [formGroup]="loginForm">
								<span class="login100-form-title">
									D2Z Login
								</span>
			
								<div class="wrap-input100 validate-input" data-validate = "UserName is required">
									<input class="input100" type="text" name="UserName" placeholder="UserName"
																	formControlName="userName">
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="fa fa-envelope" aria-hidden="true"></i>
									</span>
								</div>
			
								<div class="wrap-input100 validate-input" data-validate = "Password is required">
									<input class="input100" type="password" name="pass" placeholder="Password"
															formControlName="passWord">
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="fa fa-lock" aria-hidden="true"></i>
									</span>
								</div>

								<div>
									<p class="err_msg">{{errorMsg}}</p>
								</div>
								
								<div class="container-login100-form-btn">
									<button class="login100-form-btn" (click)="login()">
										Login
									</button>
								</div>
			
								<!-- <div class="text-center p-t-12">
									<span class="txt1">
										Forgot
									</span>
									<a class="txt2" href="#">
										Username / Password?
									</a>
								</div> -->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<!--End Modal -->

    <ngx-spinner
			bdColor="rgba(51,51,51,0.8)"
			size="medium"
			color="#fff"
			loadingText="Loading..."
			type="ball-clip-rotate-multiple">
	</ngx-spinner>
		
	<!-- Start Slider -->
	 <section id="j-slider">
			<div class="slide-main">
				<div class="single-slider" style="background-image:url(../../../assets/img/slider/slider-bg1.jpg);" >
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-sm-12 col-xs-12">
								
								<div class="slide-text left">
									<div class="slider-inner">
										
										<h1>Global Freight forwarding  eCommerce and supply chain specialist</h1>
										<p>Australia’s leading international freight forwarder and ecommerce logistics at your fingertips</p>
										<div class="slide-button">
											<a  routerLink="/contact" class="button primary">I want a free quote</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="single-slider1">
					<!-- <div class="container">
						<div class="row">
							<div class="col-md-8 col-sm-12 col-xs-12">
								<div class="slide-text left">
									<div class="slider-inner">
										<h1><span>D2Z</span>Global e-Commerce solutions provider</h1>
										<p>Inbound AU Full Track SYD - SYD Injection AU-Wide</p>
										<div class="slide-button">
											<a href="#location" class="button primary">Contact Us</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
	</section> 
	<!--/ End Slider -->

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
				<div class="section-title center">
					<h2>Our <span>Services</span></h2>
					<p>A combination of services to meet all your logistical requirements.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
				<div class="single-service">
					<i class="fa fa-plane"></i>
					<h2>Import/Export Air Freight</h2>
					<p>Experts in documentations, rate negotiations and finding the most cost saving ways to get your product into the hands of the buyers</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
				<div class="single-service">
					<i class="fa fa-ship"></i>
					<h2>Sea Freight Forwarding</h2>
					<p>Specialist in customs clearance available in all major ports of Australia .	</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.8s">
				<div class="single-service">
					<i class="fa fa-cog"></i>
					<h2>Track & Trace System</h2>
					<p>‘Track and Trace' your shipments via our sophisticated web base system.</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
				<div class="single-service">
					<i class="fa fa-book"></i>
					<h2>Multiple Injection Ports</h2>
					<p>Our customs brokers are up to date on all the latest rules and regulations on customs and quarantine so you don’t have to be.</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
				<div class="single-service">
					<i class="fa fa-globe"></i>
					<h2>eCommerce 3PL</h2>
					<p>A comprehensive full service Third party logistics aimed to deliver efficiency solutions with proven results at every point along the supply chain management.</p>
				</div>
			</div>
		</div>
	</div>

	<section id="about-us" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
					<div class="section-title center">
						<h2>About <span>D2Z</span></h2>
						<p>With more than 30 years combined experience in the freight forwarding, customs brokerage and logistic requirement industry, D2Z is a unique all in one eCommerce company that is 100% dedicated to superior customer services and support. We provide consultation in freight industry changes and help reduce costs in your Australian import/export.</p>


					</div>
					<div class="section-title center">
						<p>With a global reach and established operations in all major ports of Australia - Sydney, Melbourne, Brisbane and Perth – as well as Shenzhen and Hong Kong, D2Z will find a solution to meet any logistical needs .</p>

					</div>
				</div>
			</div>
			<div class="row"> 
				<!-- About Image -->
				<div class="col-md-4 col-sm-12 col-xs-12 wow slideInLeft">
					<div class="about-main">
						<div class="about-img">
							<img src="../../../assets/img/about.jpg" alt=""/>
						</div>
					</div>
				</div>
				<!--/ End About Image -->
				<div class="col-md-8 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="1s">
					<!-- About Tab -->
					<div class="tabs-main">
						<!-- Tab Nav -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#welcome"  data-toggle="tab">What we do best</a></li>
							<li role="presentation"><a href="#ports" data-toggle="tab">Our Ports of Operation</a></li>
							<li role="presentation"><a href="#information"  data-toggle="tab">Freight Management System</a></li>
						</ul>
						<!--/ End Tab Nav -->
						<!-- Tab Content -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="welcome">
								<p>We are passionate and committed to our customers in finding a logistical solution for every eCommerce needs. Our knowledge of the global eCommerce space will put you ahead of your competitors.</p>
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="single-tab">
											<i class="fa fa-check"></i>
											<h4>Competitive rates and services</h4>
											
										</div>
										
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-support"></i>
											<h4>Sophisticated software in 'track and trace' shipments </h4>
										
										</div>
										
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-send"></i>
											<h4>Real time customer support</h4>
											
										</div>
										
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-rocket"></i>
											<h4>eCommerce parcel injection Australia wide</h4>
											
										</div>
										
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade in" id="ports">
								 <div class="row">

									<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="single-list">
									<h2>Dzz covers all major ports in Australia :</h2>

								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="single-list">
											<i class="fa fa-check"></i>
											<h4>Sydney</h4>
										</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="single-list">
											<i class="fa fa-check"></i>
											<h4>Melbourne</h4>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="single-list">
											<i class="fa fa-check"></i>
											<h4>Brisbane</h4>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="single-list">
											<i class="fa fa-check"></i>
											<h4>Perth</h4>
										</div>

										</div>

									
							
				<div class="col-md-12 col-sm-12 col-xs-12">			
<div class="single-list">

					
									<h2>and International hubs such as</h2>

								</div>
							</div>
								<div class="col-md-6 col-sm-6 col-xs-12">	<div class="single-list">

									
										<i class="fa fa-check"></i><h4>Shenzhen</h4>
									</div>
								</div>

									<div class="col-md-6 col-sm-6 col-xs-12">	<div class="single-list">

										<i class="fa fa-check"></i><h4>Hong Kong</h4>
									</div>
										

</div>
						</div>
								<!-- <p>Aliquam erat volutpat. Phasellus lobortis erat vitae fringilla malesuada. Fusce semper purus suscipit ultricies tincidunt. Nulla eget turpis ac leo euismod pharetra at nec diam. Etiam id purus lacus. Suspendisse ligula nulla, cursus non lacinia tincidunt, elementum eu sapien</p>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p> -->
								
							</div>
							<div role="tabpanel" class="tab-pane fade in" id="information">
								<p>Our Freight management software allows for flexibility, real time tracking and can be accessed anywhere.</p>
								 <div class="row">

									<div class="col-md-12 col-sm-12 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-rocket"></i>
											<h4>Freight1</h4>
											<p>Cloud based application with multiple last mile delivery options</p>
										</div>
										
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-rocket"></i>
											<h4>Freight2</h4>
											<p>API integration that can be integrated seamlessly</p>
										</div>
										
									</div>
									<!--<div class="col-md-6 col-sm-6 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-send"></i>
											<h4>fast Delivery</h4>
											<p>It has roots in a piece of classical Latin literature from 45 BC[..]</p>
										</div>
										
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-rocket"></i>
											<h4>Speed Marketing</h4>
											<p>It has roots in a piece of classical Latin literature from 45 BC[..]</p>
										</div>
										
									</div>-->

								</div> 
							</div>
						</div>
						<!--/ End Tab Content -->
					</div>
					<!--/ End About Tab -->
				</div>
			</div>
		</div>
	</section>

	<section id="our-skill" class="section">
		<div class="container">
			<div class="row"> 
				<div class="col-md-7 col-sm-12 col-xs-12 wow fadeIn">
					<div class="info-main">
						<div class="section-title center">
							<h2>D2Z <span>Information</span></h2>
						</div>
						<div class="some-info">
							<p>D2Z was founded by experienced multilingual professionals in freight forwarding, eCommerce logistics, taxi trucks and IT industry with expert knowledgeable in areas of logistics regulations, customs procedures, documents operations, and freight optimization.</p>


						</div>

						<div class="some-info">
							<p>We can help you from routine basic tasks such as custom clearance to comprehensive full service packages covering total transportation and distribution.</p>


						</div>
						<div class="some-info">
							<p>We offer:</p>


						</div>
						
						<ul class="info-list">
							<li><i class="fa fa-check"></i>Best in class logistics solutions with simplified and standardised processes .</li>
							<li><i class="fa fa-check"></i>Highly driven by customer first motto and committed to delivering the best user experience possible.</li>
							<li><i class="fa fa-check"></i>Cutting edge technology at highly competitive price points.</li>
							<li><i class="fa fa-check"></i>Customised solutions for every single customer requirements and problems.</li>
							<li><i class="fa fa-check"></i>Modern tracking platform with in-house designed web-based System and ready to integrate APIs.</li>
							<li><i class="fa fa-check"></i>Modern Tracking Platform  with in house designed Web-based System  and  ready to integrate APIs.</li>
							<li><i class="fa fa-check"></i>A dynamic system to make supply chain efficient and cost effective.</li>
						</ul>	
					</div>
					
				</div>				
				<div class="col-md-5 col-sm-10 col-xs-10">
					
					<div class="skill-main">
						<div class="section-title left">
							<h2>Our <span>Skills</span></h2>
						</div>
						
						<div class="single-skill">
							<div class="skill-info">
								<h4>Creative</h4>
							</div>
							<div class="progress">
								<div class="progress-bar" data-percent="80"><span>80%</span></div>
			about				</div>
						</div>	
						
						<div class="single-skill">
							<div class="skill-info">
								<h4>Marketing</h4>
							</div>
							<div class="progress">
								<div class="progress-bar" data-percent="70"><span>70%</span></div>
							</div>
						</div>	
						
						<div class="single-skill">
							<div class="skill-info">
								<h4>Success</h4>
							</div>
							<div class="progress">
								<div class="progress-bar" data-percent="60"><span>95%</span></div>
							</div>
						</div>	
						
					</div>
				</div>
			</div>
		</div>
	</section>

	<div id="why-choose" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12 wow fadeIn">
		<div class="why-image">
		<!--	<div class="video"><a href="https://www.youtube.com/watch?v=wZWiRoktNWA" 
							class="video-play mfp-iframe wow zoomIn"><i class="fa fa-play"></i></a></div>-->
								<img src="../../../assets/img/Slide1.png" alt=""/>
		</div>
		</div>
				<div class="col-md-7 col-sm-12 col-xs-12 wow fadeIn">
					<div class="section-title center">
					<h2>Why Choose Us?</h2>
				</div>
				<div class="some-info">
					<p>At D2Z we are with you the whole way. 
						We are passionate about working with our customers to find a logistical solution for every eCommerce need and pride ourselves on consistently sourcing competitive rates. We provide real time customer support and always ensure the job is done right.
						Utilise our services today and you’ll see for yourself why we are the best in the industry.</p>
				</div>	
				</div>				
			</div>
		</div>
	</div>	

	<section id="testimonial" class="section wow fadeIn">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
					<div class="section-title center">
						<h2>Our <span>Testimonials</span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="testimonial-carousel">	
						<div class="single-testimonial">
							<div class="testimonial-content">
								<p> Partnering with D2Z was a great move for my online business. We can now focus on what we do best
									knowing our customers will receive our products safely and quickly. </p>
							</div>
							<div class="testimonial-info">
								<div class="img">
									<span class="arrow"></span>
									<img src="../../../assets/img/img.jpg" class="img-circle" alt="">
								</div>
								<h6>Daniel Curtis<span>Entrepreneur</span></h6>
							</div>			
						</div>
						<div class="single-testimonial">
							<div class="testimonial-content">
								<p> Excellent customer service, detail orientated and professional. D2Z are a must for logistical solutions </p>
							</div>
							<div class="testimonial-info">
								<div class="img">
									<span class="arrow"></span>
									<img src="../../../assets/img/img.jpg" class="img-circle" alt="">
								</div>
								<h6>Chris Randle<span>Online fashion distributor</span></h6>
							</div>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="contact" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
					<div class="section-title center">
						<h2>Contact <span>US</span></h2>
						
					</div>
				</div>
			</div>
			<!-- Google Map -->
			<div class="row">
				<!-- Contact Form -->
				<div class="col-md-5 col-sm-5 col-xs-12">
						<div>
									<p class="err_msg">{{errorMsg}}</p>
								</div>
						<form class="form" [formGroup]="contactForm" novalidate>
							<div class="form-group">
								<input type="text" name="name" placeholder="Name" formControlName ="Name" required data-validation-required-message="Please enter your name.">
                            </div>
							<div class="form-group">
								<input type="email" name="email" placeholder="Email" required="required" formControlName ="Email">
                            </div>
							<div class="form-group">
								<input type="text" name="subject" placeholder="Subject" required="required" formControlName ="Subject">
                            </div>
							<div class="form-group">
								<textarea name="message" rows="6" placeholder="Message" formControlName ="Message"></textarea>
                            </div>
                            <div>
									<p class="success_msg">{{successMsg}}</p>
								</div>
							<!--<div class="form-group">	
								<button class="button primary" click="contactus()"><i class="fa fa-send"></i>Submit</button>
                            </div>-->
                            <div class="form-group">
									<button class="button primary" (click)="contactus()">
										<i class="fa fa-send"></i>Submit
									</button>
								</div>
						</form>
					</div>
					
				
				<!--/ End Contact Form -->
			</div>
		</div>
		<div class="gmap">
			<div class="map"></div>
		</div>
	</section>

	<section id="location" class="section">
		<div class="container">
			
			<div class="row">

				<div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
					<div class="section-title center">
						<h2>Our <span>Location</span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
					<!-- Single Address -->
					<div class="single-address">
						<i class="fa fa-phone"></i>
						<h4>Our Phone</h4>
						<p>	+61470271180 </p>
					</div>
					<!--/ End Single Address -->
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
					<!-- Single Address -->
					<div class="single-address active">
						<i class="fa fa-phone"></i>
						<h4></h4>
						<p>Ground Floor, Suite 3, 410 Church Street, North Parramatta, NSW - 2151.</p>
					</div>
					<!--/ End Single Address -->
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.8s">
					<!-- Single Address -->
					<div class="single-address">
						<i class="fa fa-phone"></i>
						<h4>Corporate Email</h4>
						<p>dwayne@d2z.com.au</p>
					</div>
					<!--/ End Single Address -->
				</div>

			</div>
		</div>
	</section>

		
		<!-- Start Footer -->
		<footer id="footer" class="wow fadeIn">
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="text">
								<p>&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a>D2Z</a> Logistics</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--/ End Footer -->

