<body class="nav-md" #maintoggle>
    <div class="container body">
        <div class="main_container">
            
            <client-header> </client-header>

            <div class="right_col" role="main">
               
                <div class="row tile_count">
                        <div class="page-title">
                                <div class="title_left">
                                  <h3 style="margin-left: 10px" *ngIf="englishFlag"> Enquiry / Outstanding Enquiries </h3>
                                  <h3 style="margin-left: 10px" *ngIf="chinessFlag"> 清单 / 创建 </h3>
                                </div>
                        </div>
                </div>

                <div class="delete_search">
                        <div class="container">
                            <div class="row">
                             
                              <div class="col-md-3">
                                    <p> Status : </p>
                                    <div style="margin-top:10px">
                                        <p-dropdown 
                                            [options]="statusDropdown" 
                                            [(ngModel)]="selectedStatusType" 
                                            optionLabel="name" 
                                            [style]="{'width':'100%'}"
                                            (onChange)="onStatusChange($event)">
                                        </p-dropdown>
                                    </div>
                              </div>

                              <div class="col-md-3">
                                    <p > From Date : </p>
                                    <mat-form-field>
                                        <input #frominput matInput [matDatepicker]="picker" 
                                                    placeholder="Choose a date" 
                                                    (dateChange)="FromDateChange($event)">
                                        <mat-datepicker-toggle
                                                     matSuffix 
                                                     [for]="picker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
        
                                <div class="col-md-3">
                                    <p > To Date : </p>
                                    <mat-form-field>
                                        <input #toinput matInput [matDatepicker]="pickerTo" 
                                                        placeholder="Choose a date" 
                                                        (dateChange)="ToDateChange($event)">
                                        <mat-datepicker-toggle 
                                                      matSuffix 
                                                      [for]="pickerTo">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #pickerTo></mat-datepicker>
                                      </mat-form-field>
                                </div>

                                <div>
                                    <div class="col-md-3" style="margin-top:30px">
                                            <button type="button" 
                                                    class="btn btn-info" 
                                                    (click)="enquirySearch()"
                                                   style="background-color: #16A085; margin-left:10px">
                                                   <span class="glyphicon glyphicon-search"></span>
                                             Search
                                           </button>
                                       </div>
                                </div>
  
                            </div>

                        </div>
                </div>

                <div class="delete_panel">
                    <ngx-spinner
                        bdColor="rgba(51,51,51,0.8)"
                        size="medium"
                        color="#fff"
                        loadingText="Loading..."
                        type="ball-clip-rotate-multiple">
                    </ngx-spinner>

                    <div style="margin-top: 10px">
                        <div>
                            <p class="err_msg">{{errorMsg}}</p>
                        </div>
                    </div>

                    <button type="button" 
                            class="btn btn-info" 
                            *ngIf="englishFlag" 
                            (click)="downloadOutstandingTracking()"
                            style="background-color: #16A085; float:right; margin-right:20px; margin-top:10px">
                            <span class="glyphicon glyphicon-cloud-download"></span>
                        Download Outstanding Details
                    </button>

                    <div style="padding:20px">
                        <p> Outstanding Enquiries Details </p>
                          <div>
                              <ag-grid-angular 
                                        #agGrid style="width: 100%; height: 400px;" 
                                        class="ag-theme-balham" 
                                        [autoGroupColumnDef]="autoGroupColumnDef"
                                        [rowData]="rowData"
                                        [enableSorting]="true"
                                        [enableFilter]="true"
                                        [suppressRowClickSelection]="true"
                                        [groupSelectsChildren]="true"
                                        [debug]="true"
                                        [rowSelection]="rowSelection"
                                        [enableColResize]="true"
                                        [rowGroupPanelShow]="rowGroupPanelShow"
                                        [pivotPanelShow]="pivotPanelShow"
                                        [enableRangeSelection]="true"
                                        [pagination]="true"
                                        [defaultColDef]="defaultColDef"
                                        [gridOptions]="gridOptions" 
                                        [pagination]="true"
                                        (selectionChanged)="onEnquiryChange($event)">
                              </ag-grid-angular>
                          </div>
                      </div>

                </div>

            </div>

        </div>
    </div>
</body>
    