<body class="nav-md" #maintoggle>
        <div class="container body">
            <div class="main_container">
                
                <client-header> </client-header>
    
                <div class="right_col" role="main">
                    
                    <div class="row tile_count">
                            <div class="page-title">
                                    <div class="title_left">
                                      <h3 style="margin-left: 10px"> Action Returns </h3>
                                    </div>
                            </div>
                    </div>

                    <!-- Modal is to show the success msg -->
                    <div class="modal fade" id="action" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}}</h4>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div>
                        <div class="modal fade" id="returnAction" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                                   
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title" style="font-size: 14px; color: darkgoldenrod;">You have select Resend as action, Upload the file to resend the details - {{this.resendReferNumber}}</h4>
                                        
                                        <div style="margin-top:20px">
                                            <a href="/assets/forms/D2Z Upload File Template.xlsx" class="fa fa-file-excel-o" 
                                                    style="color: darkgreen; font-size:17px; float: left;" download>
                                                      **Please click here to download the template for File Upload
                                            </a>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <div>
                                            <p style="float:left" > Select File : </p>
                                                <input type="file" 
                                                       style="margin-left:10px; float:left" 
                                                       (change)="actionFile($event)" 
                                                       id="congFileControl"
                                                       placeholder="Upload file" 
                                                       accept=".xlsx">
                                        </div>

                                        <div *ngIf="showGrid">
                                            <button type="button" 
                                                    class="btn btn-info" 
                                                    (click)="clearUpload()"
                                                    style="background-color: #16A085; float:left; margin-left: 30px">
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                    Refresh
                                            </button>
                                        </div>

                                        <div *ngIf="showGrid">
                                            <button type="button" 
                                                    class="btn btn-info" 
                                                    (click)="fileUpload()"
                                                    style="background-color: #16A085; float:right">
                                                    <span class="glyphicon glyphicon-cloud-upload"></span>
                                                        Upload Records
                                            </button>
                                        </div>

                                        <div style="float:left; margin-top:10px">
                                                <p class="err_msg">{{errorModal}}</p>
                                        </div>

                                        <div *ngIf="showGrid" class="fileupload_panel">
                                                <ag-grid-angular 
                                                        #agGrid style="width: 100%; height:100px" 
                                                        class="ag-theme-balham" 
                                                        [autoGroupColumnDef]="autoGroupColumnDef"
                                                        [rowData]="rowData"
                                                        [enableSorting]="true"
                                                        [enableFilter]="true"
                                                        [suppressRowClickSelection]="true"
                                                        [groupSelectsChildren]="true"
                                                        [rowSelection]="rowSelection"
                                                        [enableColResize]="true"
                                                        [rowGroupPanelShow]="rowGroupPanelShow"
                                                        [pivotPanelShow]="pivotPanelShow"
                                                        [enableRangeSelection]="true"
                                                        [pagination]="false"
                                                        [defaultColDef]="defaultColDef"
                                                        [gridOptions]="gridOptionsAction" 
                                                        (selectionChanged)="onSelectionChange($event)">
                                                </ag-grid-angular>
                                      </div>

                                    </div>
                                   
                                </div>
                            </div>
                        </div>
    
                        <ngx-spinner
                            bdColor="rgba(51,51,51,0.8)"
                            size="medium"
                            color="#fff"
                            loadingText="Loading..."
                            type="ball-clip-rotate-multiple">
                        </ngx-spinner>
                        
                        <div style="margin-top: 10px;">
                                <p class="err_msg">{{errorMsg}}</p>
                        </div>
    
                        <div style="border:1px solid #ccc">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Article ID</th>
                                        <th>Reference Number</th>
                                        <th>Consignee Name</th>
                                        <th>Client Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let field of actionReturnsArray; let i = index">
                                        <td>
                                            <input style="width:18px; height:18px" 
                                                [(ngModel)]="field.selection" 
                                                class="form-control" 
                                                type="checkbox" 
                                                [checked]="field.selection"
                                                name="{{field.selection}}" />
                                        </td>
                                        <td>
                                            <input 
                                                [(ngModel)]="field.articleId" 
                                                class="form-control" 
                                                type="text" 
                                                name="{{field.articleId}}" />
                                        </td>
                                        <td>
                                            <input 
                                                [(ngModel)]="field.referenceNumber" 
                                                class="form-control" 
                                                type="text" 
                                                name="{{field.referenceNumber}}" />
                                        </td>
                                        <td>
                                            <input 
                                                [(ngModel)]="field.consigneeName" 
                                                class="form-control" 
                                                type="text" 
                                                name="{{field.consigneeName}}" />
                                        </td>
                                        <td>
                                            <input 
                                                [(ngModel)]="field.clientName" 
                                                class="form-control" 
                                                type="text" 
                                                name="{{field.clientName}}" />
                                        </td>
                                        <td>
                                            <p-dropdown 
                                            [options]="actionType" 
                                            [(ngModel)]="field.actionType" 
                                            optionLabel="name" 
                                            [showClear]="true"
                                            [editable]="true"
                                            [style]="{'width':'100%'}"
                                            (onChange)="onActionTypeChange($event)">
                                            </p-dropdown>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
    
                    <div class="col-md-12">
                            <button type="button" 
                                    class="btn btn-info" 
                                    (click)="UpdateAction()"
                                    style="background-color: #16A085; float:right; margin-top:10px;">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    Save
                            </button>
                    </div>
    
                </div>
            </div>
        </div>
    </body>
        