<body class="nav-md" #maintoggle>
        <div class="container body">
          <div class="main_container">
            
            <client-header> </client-header>

            <div class="right_col" role="main">
                  <div class="row tile_count">
                        <div class="page-title">
                                <div class="title_left">
                                  <h3 style="margin-left: 10px;" *ngIf="englishFlag"> Consignment / Delete </h3>
                                  <h3 style="margin-left: 10px;" *ngIf="chinessFlag"> 货单 / 删除 </h3>
                                </div>
                        </div>
                  </div>
                  
                  <div class="delete_search row">
                        <div class="col-md-3">
                          <p style="float:left;margin-top:5px" *ngIf="englishFlag"> Select File To Delete Consignment : </p>
                          <p style="float:left;margin-top:5px" *ngIf="chinessFlag"> 选择要删除寄售的文件 : </p>
                        </div>

                        <div class="col-md-4">
                            <p-dropdown 

                              [options]="cities2" 
                              [(ngModel)]="selectedCity2" 
                              optionLabel="name" 
                              [ngModelOptions]="{standalone: true}"
                              [showClear]="true"
                              [editable]="true"
                              [style]="{'width':'100%'}"
                              (onChange)="onFileChange($event)">
                            </p-dropdown>
                        </div>

                        <div class="col-md-2">
                            <button type="button" 
                                    class="btn btn-info" 
                                    (click)="zibraSearch()"
                                    *ngIf="englishFlag"
                                    style="background-color: #16A085">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Search
                            </button>

                            <button type="button" 
                                    class="btn btn-info" 
                                    (click)="zibraSearch()"
                                    *ngIf="chinessFlag"
                                    style="background-color: #16A085">
                                    <span class="glyphicon glyphicon-search"></span>
                                    搜索
                            </button>
                        </div>
                         <div class="col-md-2">
 <button type="button" 
                              class="btn btn-info" 
                              *ngIf="englishFlag"
                              (click)="clearUpload()"
                              style="background-color: #16A085">
                              <span class="glyphicon glyphicon-refresh"></span>
                              Refresh
                    </button>

                    <button type="button" 
                              class="btn btn-info" 
                              *ngIf="chinessFlag" 
                              (click)="clearUpload()"
                              style="background-color: #16A085">
                              <span class="glyphicon glyphicon-refresh"></span>
                              刷新
                    </button>
                     </div>
                  </div>

                   <!-- Modal -->
                  <div class="modal fade" id="fileDeleteModal" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content" 
                              style="margin-top: 150px; width: 900px; margin-left: -150px;">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}}</h4>
                          </div>
                          <div class="modal-footer"></div>
                        </div>
                      </div>
                  </div>

                  <div class="delete_panel">
                        <ngx-spinner
                                bdColor="rgba(51,51,51,0.8)"
                                size="medium"
                                color="#fff"
                                loadingText="Loading..."
                                type="ball-circus">
                        </ngx-spinner>
                        
                        <div>
                                <p class="success_msg">{{successMsg}}</p>
                        </div>
      
                        <div>
                                <p class="err_msg">{{errorMsg}}</p>
                        </div>
                     
                      <button type="button" 
                              class="btn btn-info" 
                              *ngIf="englishFlag"
                              (click)="deleteLabels()"
                              style="background-color: #16A085; float:right; margin-right:20px">
                              <span class="glyphicon glyphicon-remove-circle"></span>
                              Delete Consignment
                      </button>

                      <button type="button" 
                              class="btn btn-info" 
                              (click)="deleteLabels()"
                              *ngIf="chinessFlag"
                              style="background-color: #16A085; float:right; margin-right:20px">
                              <span class="glyphicon glyphicon-remove-circle"></span>
                              删除寄售
                      </button>
    
                      <div style="padding:20px">
                          
                        <p *ngIf="englishFlag"> Please select below records to delete </p>
                        <p *ngIf="chinessFlag"> 请选择以下记录删除 </p>
                        
                          <div>
                              <ag-grid-angular 
                                        #agGrid style="width:100%; height:500px" 
                                        class="ag-theme-balham" 
                                        [autoGroupColumnDef]="autoGroupColumnDef"
                                        [rowData]="rowData"
                                        [enableSorting]="true"
                                        [enableFilter]="true"
                                        [suppressRowClickSelection]="true"
                                        [groupSelectsChildren]="true"
                                        [debug]="true"
                                        [enableColResize]="true"
                                        [rowGroupPanelShow]="rowGroupPanelShow"
                                        [enableRangeSelection]="true"
                                        [pagination]="true"
                                        [defaultColDef]="defaultColDef"
                                        [gridOptions]="gridOptions" 
                                        [pagination]="true"
                                        (selectionChanged)="onSelectionChange()">
                              </ag-grid-angular>
                          </div>
                      </div>
    
                  </div>
            </div>

            <footer id="footer" class="wow fadeIn">
                <div class="copyright">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text">
                            <p *ngIf="englishFlag">&copy; Copyright 2018<span></span><a>{{system}}</a> (Distributor)</p>
                            <p *ngIf="chinessFlag">&copy; 版权 2018<span></span><a>{{system}}</a> (分销商)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </footer>

          </div>
        </div>
      </body>
    