<header id="header">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-12 col-xs-12">
							<!-- Logo -->
							<div class="logo">
							</div>
							<!--/ End Logo -->
						</div>
						<div class="col-md-10 col-sm-12 col-xs-12">
							<div class="nav-area">
								<!-- Main Menu -->
								   <!-- Main Menu -->
                    <nav class="mainmenu">
                        <div class="mobile-nav"></div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav menu">
                                <li><a routerLink="/home">Home</a></li>
                                <li><a routerLink="/service">Services</a></li>
                                <li><a routerLink="/about">About Us</a></li>
                                <li><a routerLink="/whychoose">Why Choose</a></li>
                               	<li><a routerLink="/contact">Contact US</a></li>
                                <li><a routerLink="/policy">Legal</a></li>
                                <li><a routerLink="/track-parcel">Track Parcel</a></li>
                                <li><a href="" data-toggle="modal" data-target="#myModal">Login</a></li>
                            </ul>
                        </div>
                    </nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
		</header>
		<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		<div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
			<div class="modal-body">
				<div class="limiter">
					<div class="container-login100">
						<div class="wrap-login100">
							<div class="login100-pic js-tilt" data-tilt>
								<img src="../../../assets/img/d2z-logo-login.png" alt="IMG">
							</div>
			
							<form class="login100-form validate-form" [formGroup]="loginForm">
								<span class="login100-form-title">
									D2Z Login
								</span>
			
								<div class="wrap-input100 validate-input" data-validate = "UserName is required">
									<input class="input100" type="text" name="UserName" placeholder="UserName"
																	formControlName="userName">
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="fa fa-envelope" aria-hidden="true"></i>
									</span>
								</div>
			
								<div class="wrap-input100 validate-input" data-validate = "Password is required">
									<input class="input100" type="password" name="pass" placeholder="Password"
															formControlName="passWord">
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="fa fa-lock" aria-hidden="true"></i>
									</span>
								</div>

								<div>
									<p class="err_msg">{{errorMsg}}</p>
								</div>
								
								<div class="container-login100-form-btn">
									<button class="login100-form-btn" (click)="login()">
										Login
									</button>
								</div>
			
								<!-- <div class="text-center p-t-12">
									<span class="txt1">
										Forgot
									</span>
									<a class="txt2" href="#">
										Username / Password?
									</a>
								</div> -->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<ngx-spinner
			bdColor="rgba(51,51,51,0.8)"
			size="medium"
			color="#fff"
			loadingText="Loading..."
			type="ball-clip-rotate-multiple">
	</ngx-spinner>

<section id="about-us" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
					<div class="section-title center">
						<h2>About <span>D2Z</span></h2>
						<p>With more than 30 years combined experience in the freight forwarding, customs brokerage and logistic requirement industry, D2Z is a unique all in one eCommerce company that is 100% dedicated to superior customer services and support. We provide consultation in freight industry changes and help reduce costs in your Australian import/export.</p>


					</div>
					<div class="section-title center">
						<p>With a global reach and established operations in all major ports of Australia - Sydney, Melbourne, Brisbane and Perth – as well as Shenzhen and Hong Kong, D2Z will find a solution to meet any logistical needs .</p>

					</div>
				</div>
			</div>
			<div class="row"> 
				<!-- About Image -->
				<div class="col-md-4 col-sm-12 col-xs-12 wow slideInLeft">
					<div class="about-main">
						<div class="about-img">
							<img src="../../../assets/img/about.jpg" alt=""/>
						</div>
					</div>
				</div>
				<!--/ End About Image -->
				<div class="col-md-8 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="1s">
					<!-- About Tab -->
					<div class="tabs-main">
						<!-- Tab Nav -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#welcome"  data-toggle="tab">What we do best</a></li>
							<!--<li role="presentation"><a href="#ports" data-toggle="tab">Our Ports of Operation</a></li>-->
							<li role="presentation"><a href="#information"  data-toggle="tab">Technology</a></li>
						</ul>
						<!--/ End Tab Nav -->
						<!-- Tab Content -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="welcome">
								<!-- <p>We are passionate and committed to our customers in finding a logistical solution for every eCommerce needs. Our knowledge of the global eCommerce space will put you ahead of your competitors.</p> -->
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="single-tab">
											<i class="fa fa-check"></i>
											<h4>Solution Innovation</h4>
											
										</div>
										
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-support"></i>
											<h4>Customer Experience</h4>
										
										</div>
										
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-send"></i>
											<h4>Regional Port Injection</h4>
											
										</div>
										
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-user"></i>
											<h4>Account Management</h4>
											
										</div>
										
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade in" id="ports">
								 <div class="row">

									<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="single-list">
									<h2>D2Z covers all major ports in Australia :</h2>

								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="single-list">
											<i class="fa fa-check"></i>
											<h4>Sydney</h4>
										</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="single-list">
											<i class="fa fa-check"></i>
											<h4>Melbourne</h4>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="single-list">
											<i class="fa fa-check"></i>
											<h4>Brisbane</h4>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="single-list">
											<i class="fa fa-check"></i>
											<h4>Perth</h4>
										</div>

										</div>

									
							
				<div class="col-md-12 col-sm-12 col-xs-12">			
<div class="single-list">

					
									<h2>and International hubs such as</h2>

								</div>
							</div>
								<div class="col-md-6 col-sm-6 col-xs-12">	<div class="single-list">

									
										<i class="fa fa-check"></i><h4>Shenzhen</h4>
									</div>
								</div>

									<div class="col-md-6 col-sm-6 col-xs-12">	<div class="single-list">

										<i class="fa fa-check"></i><h4>Hong Kong</h4>
									</div>
										

</div>
						</div>
								<!-- <p>Aliquam erat volutpat. Phasellus lobortis erat vitae fringilla malesuada. Fusce semper purus suscipit ultricies tincidunt. Nulla eget turpis ac leo euismod pharetra at nec diam. Etiam id purus lacus. Suspendisse ligula nulla, cursus non lacinia tincidunt, elementum eu sapien</p>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p> -->
								
							</div>
							<div role="tabpanel" class="tab-pane fade in" id="information">
								<p>Our Freight management software allows for flexibility, real time tracking and can be accessed anywhere.</p>
								 <div class="row">

									<div class="col-md-12 col-sm-12 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-rocket"></i>
											<h4>Web-based and API</h4>
											<!--<p>Cloud based application with multiple last mile delivery options</p>-->
										</div>
										
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-rocket"></i>
											<h4>Automated report generation</h4>
											<!--<p>API integration that can be integrated seamlessly</p>-->
										</div>
										
									</div>
									<!--<div class="col-md-6 col-sm-6 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-send"></i>
											<h4>fast Delivery</h4>
											<p>It has roots in a piece of classical Latin literature from 45 BC[..]</p>
										</div>
										
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										
										<div class="single-tab">
											<i class="fa fa-rocket"></i>
											<h4>Speed Marketing</h4>
											<p>It has roots in a piece of classical Latin literature from 45 BC[..]</p>
										</div>
										
									</div>-->

								</div> 
							</div>
						</div>
						<!--/ End Tab Content -->
					</div>
					<!--/ End About Tab -->
				</div>
			</div>
		</div>
	</section>

	<section id="our-skill" class="section">
		<div class="container">
			<div class="row"> 
				<div class="wow fadeIn">
					<div class="info-main">
						<div class="section-title center">
							<h2>D2Z <span>Information</span></h2>
						</div>
						<div class="some-info">
							<p>D2Z was founded by experienced multilingual professionals in freight forwarding, eCommerce logistics, taxi trucks and IT industry with expert knowledgeable in areas of logistics regulations, customs procedures, documents operations, and freight optimization.</p>


						</div>

						<div class="some-info">
							<p>We can help you from routine basic tasks such as custom clearance to comprehensive full service packages covering total transportation and distribution.</p>


						</div>
						<div class="some-info">
							<p>We offer:</p>


						</div>
						
						<ul class="info-list">
							<li><i class="fa fa-check"></i><b>Solution Innovation</b> - we continually scour the globe for improved rates and cutting-edge services</li>
							<li><i class="fa fa-check"></i><b>Customer Experience</b> - system focused Customer Service & Returns providing real time updates</li>
							<li><i class="fa fa-check"></i><b>Regional Port Injection</b> - including Darwin, Cairns, Gold Coast and Geelong</li>
							<li><i class="fa fa-check"></i><b>System Generated Reports</b> - including held items, returns, enquiries open, shipment and delivery</li>
							<li><i class="fa fa-check"></i><b>Account Management</b> - discussing performance and opportunities, we believe in building a strong relationship to benefit both parties</li>
						</ul>	
					</div>
					
				</div>				
				<!-- <div class="col-md-5 col-sm-10 col-xs-10">
					
					<div class="skill-main">
						<div class="section-title left">
							<h2>Our <span>Skills</span></h2>
						</div>
						
						<div class="single-skill">
							<div class="skill-info">
								<h4>Creative</h4>
							</div>
							<div class="progress">
								<div class="progress-bar" data-percent="80"><span>80%</span></div>
			about				</div>
						</div>	
						
						<div class="single-skill">
							<div class="skill-info">
								<h4>Marketing</h4>
							</div>
							<div class="progress">
								<div class="progress-bar" data-percent="70"><span>70%</span></div>
							</div>
						</div>	
						
						<div class="single-skill">
							<div class="skill-info">
								<h4>Success</h4>
							</div>
							<div class="progress">
								<div class="progress-bar" data-percent="60"><span>95%</span></div>
							</div>
						</div>	
						
					</div>
				</div>
			</div> -->
		</div>
	</div>
	</section>