<header id="header">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-12 col-xs-12">
							<!-- Logo -->
							<div class="logo">
							</div>
							<!--/ End Logo -->
						</div>
						<div class="col-md-10 col-sm-12 col-xs-12">
							<div class="nav-area">
								<!-- Main Menu -->
								   <!-- Main Menu -->
                    <nav class="mainmenu">
                        <div class="mobile-nav"></div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav menu">
                                <li><a routerLink="/home">Home</a></li>
                                <li><a routerLink="/service">Services</a></li>
                                <li><a routerLink="/about">About Us</a></li>
                                <li><a routerLink="/whychoose">Why Choose</a></li>
                               	
                                <li><a routerLink="/contact">Contact US</a></li>
                                <li><a routerLink="/policy">Legal</a></li>
                                <li><a routerLink="/track-parcel">Track Parcel</a></li>
                                <li><a href="" data-toggle="modal" data-target="#myModal">Login</a></li>
                            </ul>
                        </div>
                    </nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
		</header>
		<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		<div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
			<div class="modal-body">
				<div class="limiter">
					<div class="container-login100">
						<div class="wrap-login100">
							<div class="login100-pic js-tilt" data-tilt>
								<img src="../../../assets/img/d2z-logo-login.png" alt="IMG">
							</div>
			
							<form class="login100-form validate-form" [formGroup]="loginForm">
								<span class="login100-form-title">
									D2Z Login
								</span>
			
								<div class="wrap-input100 validate-input" data-validate = "UserName is required">
									<input class="input100" type="text" name="UserName" placeholder="UserName"
																	formControlName="userName">
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="fa fa-envelope" aria-hidden="true"></i>
									</span>
								</div>
			
								<div class="wrap-input100 validate-input" data-validate = "Password is required">
									<input class="input100" type="password" name="pass" placeholder="Password"
															formControlName="passWord">
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="fa fa-lock" aria-hidden="true"></i>
									</span>
								</div>

								<div>
									<p class="err_msg">{{errorMsg}}</p>
								</div>
								
								<div class="container-login100-form-btn">
									<button class="login100-form-btn" (click)="login()">
										Login
									</button>
								</div>
			
								<!-- <div class="text-center p-t-12">
									<span class="txt1">
										Forgot
									</span>
									<a class="txt2" href="#">
										Username / Password?
									</a>
								</div> -->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<ngx-spinner
			bdColor="rgba(51,51,51,0.8)"
			size="medium"
			color="#fff"
			loadingText="Loading..."
			type="ball-clip-rotate-multiple">
	</ngx-spinner>

		<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
				<div class="section-title center">
					<h2>Our <span>Services</span></h2>
					<p>A combination of services to meet all your logistical requirements.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
				<div class="single-service">
					<i class="fa fa-plane"></i>
					<h2>Airfreight</h2>
					<p>Door-to-door, warehouse to port and everything in between</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
				<div class="single-service">
					<i class="fa fa-ship"></i>
					<h2>Sea Freight</h2>
					<p>Ex HKG/CN globally</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.8s">
				<div class="single-service">
					<i class="fa fa-space-shuttle"></i>
					<h2>Airship</h2>
					<p>Our revolutionary product, enjoy the benefits of sea freight savings with air freight transits</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
				<div class="single-service">
					<i class="fa fa-users"></i>
					<h2>B2C</h2>
					<p>The ecommerce specialist can offer a variety of customised B2C solutions</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
				<div class="single-service">
					<i class="fa fa-briefcase"></i>
					<h2>B2B</h2>
					<p>Tailor-made solutions to streamline supply chain; Cost reduction strategies to win/gain more working capital</p>
				</div>
			</div>
		</div>
	</div>
	
		