
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12">
                <div class="logo">
                </div>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="nav-area">
                   <nav class="mainmenu">
                        <div class="mobile-nav"></div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav menu">
                                <li><a routerLink="/home">Home</a></li>
                                <li><a routerLink="/service">Services</a></li>
                                <li><a routerLink="/about">About Us</a></li>
                                <li><a routerLink="/whychoose">Why Choose</a></li>
                                
                                <li><a routerLink="/contact">Contact US</a></li>
                                <li><a routerLink="/policy">Legal</a></li>
                                <li><a routerLink="/track-parcel">Track Parcel</a></li>
                                <li><a href="" data-toggle="modal" data-target="#myModal">Login</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		<div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
			<div class="modal-body">
				<div class="limiter">
					<div class="container-login100">
						<div class="wrap-login100">
							<div class="login100-pic js-tilt" data-tilt>
								<img src="../../../assets/img/d2z-logo-login.png" alt="IMG">
							</div>
			
							<form class="login100-form validate-form" [formGroup]="loginForm">
								<span class="login100-form-title">
									D2Z Login
								</span>
			
								<div class="wrap-input100 validate-input" data-validate = "UserName is required">
									<input class="input100" type="text" name="UserName" placeholder="UserName"
																	formControlName="userName">
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="fa fa-envelope" aria-hidden="true"></i>
									</span>
								</div>
			
								<div class="wrap-input100 validate-input" data-validate = "Password is required">
									<input class="input100" type="password" name="pass" placeholder="Password"
															formControlName="passWord">
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="fa fa-lock" aria-hidden="true"></i>
									</span>
								</div>

								<div>
									<p class="error-msg">{{errorMsg}}</p>
								</div>
								
								<div class="container-login100-form-btn">
									<button class="login100-form-btn" (click)="login()">
										Login
									</button>
								</div>
			
								<div class="text-center p-t-12">
									<span class="txt1">
										Forgot
									</span>
									<a class="txt2" href="#">
										Username / Password?
									</a>
								</div>
			
							
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
</div>

<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        loadingText="Loading..."
        type="ball-clip-rotate-multiple">
</ngx-spinner>

 <!-- Page Content -->
 <div class="container" class="article-service">
    

    <section id="our-skill" class="section" style="padding:0px">
        <div class="container">
          <div class="row"> 
            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
              <div>
                    <div class="info-main">
                <div class="section-title left">
                  <h2 style="font-size: 20px; text-align: center">  
                        <span> INTERNATIONAL COURIER</span></h2>
                     

                </div>
              </div>                
             <p> Let’s face it, in today’s world everyone expects everything yesterday. At D2Z, our core business is ‘door to door’ International and Domestic courier services.</p>
			<p>OWC offers multiple carrier options, from the world’s largest to the most trusted local courier companies.

             </p>

            
<div class="section-title left">             <h2 style="font-size: 20px; text-align: center">OUR CARRIERS</h2>
            
          </div>
             

<div class="grid-container">
 	 	<div><img src="../../../assets/img/carriers/dhl.png" alt="DHL"></div>
    	<div><img src="../../../assets/img/carriers/ups.png" alt="UPS"></div>  
    	<div><img src="../../../assets/img/carriers/fw.png" alt="Fastway Couriers"></div>  
  		<div><img src="../../../assets/img/carriers/fedex.png" alt="Fedex"></div>
  		<div><img src="../../../assets/img/carriers/tnt.png" alt="TNT"></div>
  		<div><img src="../../../assets/img/carriers/dc.png" alt="Direct Couriers"></div>
  		<div><img src="../../../assets/img/carriers/ae.png" alt="Allied Express"></div>
    	<div><img src="../../../assets/img/carriers/nl.png" alt="NorthLine"></div>
    	<div><img src="../../../assets/img/carriers/he.png" alt="Hunter Express"></div>
  </div>


             <p> Please <a routerLink="/contact">Contact Us</a> for the login details of our International Courier Portal

             </p>
             <div class="section-title center"> <a href="https://d2z.sendeasy.com.au/" target="_blank"><button type="button" class="btn btn-info" style=" background-color: #16A085;  margin:10px;">

                                      International Courier Portal
                                  </button></a></div>
         
              </div>
            </div>		
          </div>
        </div>
    </section>
 </div>

 <footer id="footer" class="wow fadeIn" style="margin-top: 15px">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text">
                        <p>&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a>D2Z</a> Logistics</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

