<body class="nav-md" #maintoggle>
    <div class="container body">
      <div class="main_container">

          <client-header > </client-header>
    
          <div class="right_col" role="main">
            <div class="row tile_count">
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Consignments created </span>
                <div class="count">{{this.consignmentsCreated}}</div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-clock-o"></i> Consignments Manifested </span>
                <div class="count">{{this.consignmentsManifested}}</div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total number of Manifests </span>
                <div class="count green">{{this.consignmentsNumberManifests}}</div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Consignments deleted </span>
                <div class="count">{{this.consignmentsDeleted}}</div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Consignments delivered </span>
                <div class="count">{{this.consignmentsDelivered}}</div>
              </div>
            </div>
          </div>

          <!-- <footer id="footer" class="wow fadeIn">
            <div class="copyright">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text">
                      <p *ngIf="englishFlag">&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a>D2Z</a> (Distributor)</p>
                      <p *ngIf="chinessFlag">&copy; 版权 2018<span><i class="fa fa-heart"></i></span><a>D2Z</a> (分销商)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer> -->

      </div>
    </div>
  </body>
