<body class="nav-md" #maintoggle>
    <div class="container body">
      <div class="main_container">

          <client-header > </client-header>
    
          <div class="right_col" style="margin-left:130px" role="main">
            <div class="row tile_count">
              <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Consignments created </span>
                <div class="count">{{this.consignmentsCreated}}</div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-clock-o"></i> Consignments Manifested </span>
                <div class="count">{{this.consignmentsManifested}}</div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total number of Manifests </span>
                <div class="count green">{{this.consignmentsNumberManifests}}</div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Consignments deleted </span>
                <div class="count">{{this.consignmentsDeleted}}</div>
              </div>
              <!-- <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Consignments delivered </span>
                <div class="count">{{this.consignmentsDelivered}}</div>
              </div> -->
            </div>
          </div>

          <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                loadingText="Loading..."
                type="ball-circus">
          </ngx-spinner>

      </div>
    </div>
  </body>
