<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

    <div class="clearfix"></div>
          <div class="profile clearfix">
              <div class="profile_pic">
                    <img src="../../../assets/img/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>{{this.userName}}</h2>
          </div>
    </div>

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="margin-top: -30px">
            <div class="menu_section">
                <ul class="nav side-menu">
                <li>
                    <a (click)="broker_main(arrow)"><i class="fa fa-home"></i> HOME <span class="fa fa-chevron-down" #arrow></span></a>
                    <ul class="nav child_menu" [ngStyle]="{'display': !childmenubrkOne ? 'block' : 'none'}">
                      <li><a routerLink="/broker-main">Information</a></li>
                    </ul>
                </li>
                <li><a (click)="broker_client(arrow)"><i class="fa fa-edit"></i> CLIENT MANAGEMENT <span class="fa fa-chevron-down" #arrow></span></a>
                    <ul class="nav child_menu" [ngStyle]="{'display': !childmenubrkTwo ? 'block' : 'none'}">
                    <li><a routerLink="/broker/add-client">Add Client</a></li>
                    <li><a routerLink="/broker/update-client">Update Client</a></li>
                    </ul>
                </li>
                <li><a (click)="broker_label(arrow)"><i class="fa fa-desktop"></i> PRINT LABELS <span class="fa fa-chevron-down" #arrow></span></a>
                    <ul class="nav child_menu" [ngStyle]="{'display': !childmenubrkThree ? 'block' : 'none'}">
                    <li><a routerLink="/broker/print">ZEBRA</a></li>
                    <li><a routerLink="/broker/pdf">PDF</a></li>
                    </ul>
                </li>
                <li><a (click)="broker_shipment(arrow)"><i class="fa fa-table"></i> CREATE SHIPMENT <span class="fa fa-chevron-down" #arrow></span></a>
                    <ul class="nav child_menu" [ngStyle]="{'display': !childmenubrkFour ? 'block' : 'none'}">
                    <li><a routerLink="/broker/allocate-shipment">Allocate Shipment Data</a></li>
                    <li><a routerLink="/broker/scan-shipment">Scan to Shipment</a></li>
                    <li><a routerLink="/broker/api/upload-shipment">Upload File - Create Shipment</a></li>
                    <li><a routerLink="/broker/download-shipment">Download Shipment Data</a></li>
                    </ul>
                </li>
                <li><a (click)="broker_api(arrow)"><i class="fa fa-bar-chart-o"></i> API <span class="fa fa-chevron-down" #arrow></span></a>
                    <ul class="nav child_menu" [ngStyle]="{'display': !childmenubrkFive ? 'block' : 'none'}">
                      <li><a routerLink="/broker/api/direct-injection">Direct Injection Data</a></li>
                      <!-- <li><a routerLink="/broker/api/download-shipment">Download Shipment Data - API</a></li> -->
                    </ul>
                </li>
                <li><a (click)="broker_util(arrow)"><i class="fa fa-table"></i> UTILITIES <span class="fa fa-chevron-down" #arrow></span></a>
                    <ul class="nav child_menu" [ngStyle]="{'display': !childmenubrkSix ? 'block' : 'none'}">
                      <li><a routerLink="/broker/util/Tracking">Track Parcels</a></li>
                      <!-- <li><a routerLink="/broker/api/download-shipment">Download Shipment Data - API</a></li> -->
                    </ul>
                </li>
                <li>
                    <a routerLink={{pageSwitch}}><i class="fa fa-sign-out"></i> Logout</a>
                </li>
                </ul>
            </div>
    </div>

</div>