

gst-service p{
    font-size: 15px;
  }
  #header{
    background: #16A085;
  }
  h2{
    font-size: 20px;
  }
  .section-title h4{
    color: #16A085;
  }
  .errorMsg{
    color: red;
  }
  .article-png{
    text-align: center;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .subheading{
    margin-top: 25px;
    font-size: 17px;
    color: #398039;
  }
  #our-skill .info-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
  #our-skill .info-list li {
    margin-bottom: 5px;
  font-weight: 400;
  color: #555;
}
#our-skill .info-list li:last-child{
  margin-bottom: 10px;
}
#our-skill .info-list li i {
  width: 20px;
  height: 20px;
  font-size: 12px;
  margin-right: 10px;
  line-height: 20px;
  text-align: center;
}

.quoteForm{
   color:#73879C;
    width :75%;
    margin: auto;
    
}
.form-horizontal .control-label{
   text-align:left ; 

}
.success_msg{
    color:green; font-size: 14px;font-weight: 500; margin-left: 20px !important; margin-top: 10px !important;
}

