

gst-service p{
    font-size: 15px;
  }
  #header{
    background: #16A085;
  }
  
  
  .article-png{
    text-align: center;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .subheading{
    margin-top: 25px;
    font-size: 17px;
    color: #398039;
  }

.quoteForm{
    width :80%;
    margin-left: 10%;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-right: 10%;
}
.form-horizontal .control-label{
   text-align:left ; 

}
.success_msg{
    color:green; font-size: 14px;font-weight: 500; margin-left: 20px !important; margin-top: 10px !important;
}

