<body class="nav-md" #maintoggle>
        <div class="container body">
          <div class="main_container">
            
            <client-header> </client-header>
            
            <div class="right_col" role="main">
              <div class="row tile_count">
                    <div class="page-title">
                            <div class="title_left">
                              <h3 style="margin-left: 10px;" *ngIf="englishFlag">Consignment / File Upload</h3>
                              <h3 style="margin-left: 10px;" *ngIf="chinessFlag"> 货单 / 上传文件 </h3>
                            </div>
                    </div>
              </div>
            </div>
             
            <div class="right_col" role="main">
            
              <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                loadingText="Loading..."
                type="ball-circus">
              </ngx-spinner>

              <!-- Modal -->
              <div class="modal fade" id="fileUploadModal" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}} {{errorMsg}}</h4>
                          </div>
                            <div *ngIf="show">
                              <a style="float: left; margin-left: 20px; margin-top: 12px;">Click icon to download the Error Details :</a>
                               <i class="fa fa-file-excel-o" (click)="downLoad()"
                                  style="margin:10px; color: green; font-size:25px !important; cursor: pointer;"aria-hidden="true"></i>
                            </div>
                            <div *ngIf="showSuccess">
                              <a style="float: left; margin-left: 20px; margin-top: 12px;">Click icon to download the Error Details :</a>
                               <i class="fa fa-file-excel-o" (click)="downLoad()"
                                  style="margin:10px; color: green; font-size:25px !important; cursor: pointer;"aria-hidden="true"></i>
                            </div>
                            <div class="modal-body">
                              <div>
                               <p class="err_msg" style="word-wrap: break-word">{{errorDetails1}}</p>
                              </div>
                            </div>
                          <div class="modal-footer">
                          </div>
                        </div>
                      </div>
              </div>

              <div class="fileupload_search">
                  <div style="padding-right: 15px; margin-bottom:40px">
                      <a *ngIf="englishFlag" href="/assets/forms/D2Z Upload File Template.xlsx" class="fa fa-file-excel-o" 
                              style="color: darkgreen; font-size:17px; float: left;" download>
                                **Please click here to download the template for File Upload
                      </a>

                      <a *ngIf="chinessFlag" href="/assets/forms/D2Z Upload File Template.xlsx" class="fa fa-file-excel-o" 
                              style="color: darkgreen; font-size:17px; float: left;" download>
                                **请点击这里下载模板文件上传
                      </a>
                  </div>

                  <div>
                    <p style="float: left" *ngIf="englishFlag"> Select File : </p>
                    <p style="float: left" *ngIf="chinessFlag"> 选择文件 : </p>
                    
                    <input type="file" 
                              style="margin-left:25px; float:left" 
                              (change)="incomingfile($event)" 
                              id="congFileControl"
                              placeholder="Upload file" 
                              accept=".xlsx">

                    <button type="button" 
                              class="btn btn-info" 
                              *ngIf="englishFlag"
                              (click)="clearUpload()"
                              style="background-color: #16A085; float:left; margin-left: 30px; margin-top:-7px">
                              Refresh
                    </button>

                    <button type="button" 
                              class="btn btn-info" 
                              *ngIf="chinessFlag" 
                              (click)="clearUpload()"
                              style="background-color: #16A085; float:left; margin-left: 30px; margin-top:-7px">
                              刷新
                    </button>
                      
                  </div>
              </div>

              <div class="fileupload_panel">
                        <div style="margin-top: 20px;">
                            <p class="success_msg">{{successMsg}}</p>
                        </div>
      
                        <div style="margin-top: 20px;">
                            <p class="err_msg">{{errorMsg}}</p>
                        </div>
                     
                      <button type="button" 
                              *ngIf="englishFlag"
                              class="btn btn-info" 
                              (click)="fileUpload()"
                              style="background-color: #16A085; float:right; margin-right:20px">
                                Upload Records
                      </button>

                      <button type="button"
                              *ngIf="chinessFlag" 
                              class="btn btn-info" 
                              (click)="fileUpload()"
                              style="background-color: #16A085; float:right; margin-right:20px">
                              上传记录
                      </button>

                      <div style="padding:20px">
                        <p *ngIf="englishFlag"> Please select below records to upload: </p>
                        <p *ngIf="chinessFlag"> 请选择下面的记录上传: </p>
                      <div>
                              <ag-grid-angular 
                                        #agGrid style="width: 100%; height: 500px;" 
                                        class="ag-theme-balham" 
                                        [autoGroupColumnDef]="autoGroupColumnDef"
                                        [rowData]="rowData"
                                        [enableSorting]="true"
                                        [enableFilter]="true"
                                        [suppressRowClickSelection]="true"
                                        [groupSelectsChildren]="true"
                                        [debug]="true"
                                        [rowSelection]="rowSelection"
                                        [enableColResize]="true"
                                        [rowGroupPanelShow]="rowGroupPanelShow"
                                        [pivotPanelShow]="pivotPanelShow"
                                        [enableRangeSelection]="true"
                                        [pagination]="true"
                                        [defaultColDef]="defaultColDef"
                                        [gridOptions]="gridOptions" 
                                        [pagination]="true"
                                        (selectionChanged)="onSelectionChange($event)">
                              </ag-grid-angular>
                          </div>
                      </div>
              </div>
            </div>

            <footer id="footer" class="wow fadeIn">
              <div class="copyright">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="text">
                        <p *ngIf="englishFlag">&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a>D2Z</a> (Distributor)</p>
                        <p *ngIf="chinessFlag">&copy; 版权 2018<span><i class="fa fa-heart"></i></span><a>D2Z</a> (分销商)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
            
          </div>
        </div>
      </body>
    