<body class="nav-md" #maintoggle>
    <div class="container body">
        <div class="main_container">
            
            <client-header> </client-header>

            <div class="right_col" role="main">
               
                <div class="row tile_count">
                        <div class="page-title">
                                <div class="title_left">
                                  <h3 style="margin-left: 10px" *ngIf="englishFlag"> Enquiry / Completed Enquiries </h3>
                                  <h3 style="margin-left: 10px" *ngIf="chinessFlag"> 清单 / 创建 </h3>
                                </div>
                        </div>
                </div>

                <div class="delete_panel">
                    <ngx-spinner
                        bdColor="rgba(51,51,51,0.8)"
                        size="medium"
                        color="#fff"
                        loadingText="Loading..."
                        type="ball-clip-rotate-multiple">
                    </ngx-spinner>

                    <div style="margin-top: 10px">
                        <div>
                            <p class="err_msg">{{errorMsg}}</p>
                        </div>
                    </div>

                    <button type="button" 
                            class="btn btn-info" 
                            *ngIf="englishFlag" 
                            (click)="completeEnquiryDetails()"
                            style="background-color: #16A085; float:right; margin-right:20px; margin-top:10px">
                            <span class="glyphicon glyphicon-cloud-download"></span>
                        Download Completed Enquiry Details
                    </button>

                    <div style="padding:20px">
                        <p> Completed Enquiries Details </p>
                          <div>
                              <ag-grid-angular 
                                        #agGrid style="width: 100%; height: 450px;" 
                                        class="ag-theme-balham" 
                                        [autoGroupColumnDef]="autoGroupColumnDef"
                                        [rowData]="rowData"
                                        [enableSorting]="true"
                                        [enableFilter]="true"
                                        [suppressRowClickSelection]="false"
                                        [groupSelectsChildren]="true"
                                        [enableColResize]="true"
                                        [rowGroupPanelShow]="rowGroupPanelShow"
                                        [pivotPanelShow]="pivotPanelShow"
                                        [enableRangeSelection]="false"
                                        [pagination]="true"
                                        [defaultColDef]="defaultColDef"
                                        [gridOptions]="gridOptions" 
                                        [pagination]="true"
                                        (selectionChanged)="onEnquiryChange($event)">
                              </ag-grid-angular>
                          </div>
                      </div>

                </div>

            </div>

        </div>
    </div>
</body>
    