<body class="nav-md" #maintoggle>
        <div class="container body">
            <div class="main_container">
           <super-user-header></super-user-header>
    
                <div class="right_col" role="main">
                    
                    <div class="row tile_count">
                            <div class="page-title">
                                    <div class="title_left">
                                      <h3 style="margin-left: 10px" *ngIf="englishFlag"> Incoming Jobs / Create Shipment </h3>
                                    
                                    </div>
                            </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="brokerEnquiry" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}}</h4>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                    </div>

                   
                            
                            <!-- Modal -->
                            <div class="modal fade" id="brokerEnquiry" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}}</h4>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <ngx-spinner
                        bdColor="rgba(51,51,51,0.8)"
                        size="medium"
                        color="#fff"
                        loadingText="Loading..."
                        type="ball-clip-rotate-multiple">
                    </ngx-spinner>
                            <div style="padding:20px">
                                    <div style="margin-top: 10px;">
                                            <p class="err_msg">{{errorMsg}}</p>
                                    </div>
                             </div>
                        <table class="table1" >
                                 
                        
                     
                                                <thead>
                                                    <tr >
                                                        <th style ="text-align: center">BROKER</th>
                                                        <th style ="text-align: center">MLID</th>
                                                        <th style ="text-align: center">CON</th>
                                                        <th style ="text-align: center">MAWB</th>
                                                        <th style ="text-align: center">POD</th>
                                                        <th style ="text-align: center">FLIGHT</th>
                                                       
                                                        <th style ="text-align: center">PCS</th>
                                                        <th style ="text-align: center">KG</th>
                                                        <th style ="text-align: center">HAWB</th>
                                                        <th style ="text-align: center">ETA</th>
                                                        <th style ="text-align: center">ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let field of fieldArray; let i = index">
                                                        <td>
                                                            <p-dropdown 
                                                            [options]="brokerDropdown" 
                                                            [(ngModel)]="field.type" 
                                                            optionLabel="name" 
                                                           
                                                           [autoWidth]="false"
                                                            [editable]="true"
                                                            [style]="{'width':'80px'}"
                                                            (onChange)="onBrokerTypeChange($event,i)">
                                                            </p-dropdown>
                                                        </td>
                                                        <td>
                                                            <p-multiSelect 
                                                            [options]="field.mlidDropdown" 
                                                           [(ngModel)]="field.mlid" 
                                                            optionLabel="name" 
                                                           
                                                         (onChange)="onMlidChange($event,i)"
                                                           [style]="{'width':'95px'}"
                                                          >
                                                           
                                                            </p-multiSelect>
                                                        </td>
                                                        <td>
                                                            <p-dropdown 
                                                            [options] = "field.consigneeDropdown"
                                                            [(ngModel)]="field.consignee" 
                                                            optionLabel="name" 
                                                           
                                                            [editable]="true"
                                                            [style]="{'width':'80px'}"
                                                           >
                                                            </p-dropdown>
                                                        </td>
                                                        <td>
                                                            <input 
                                                                [(ngModel)]="field.mawb" 
                                                                class="form-control" 
                                                                type="text" 
                                                                  style="width:120px;"
                                                                name="{{field.mawb}}" />
                                                        </td>
                                                        <td>
                                                             <p-dropdown 
                                                            [options]="destinations" 
                                                            [(ngModel)]="field.dest" 
                                                            optionLabel="name" 
                                                            
                                                            [editable]="true"
                                                            [style]="{'width':'70px'}"
                                                           >
                                                            </p-dropdown>
                                                        </td>
                                                        <td>
                                                            <input 
                                                                [(ngModel)]="field.flight" 
                                                                class="form-control" 
                                                                type="text" 
                                                                 style="width:75px;"
                                                                name="{{field.flight}}" />
                                                        </td>
                                                       
                                                        <td>
                                                            <input 
                                                                [(ngModel)]="field.price" 
                                                                class="form-control" 
                                                                type="text" 
                                                                 style="width:50px;"
                                                                name="{{field.price}}" />
                                                        </td>
                                                        <td>
                                                            <input 
                                                                [(ngModel)]="field.weight" 
                                                                class="form-control" 
                                                                type="text" 
                                                                 style="width:60px;"
                                                                name="{{field.weight}}" />
                                                        </td>
                                                        <td>
                                                            <input 
                                                                [(ngModel)]="field.hawb" 
                                                                class="form-control" 
                                                                type="text" 
                                                                 style="width:60px;"
                                                                name="{{field.hawb}}" />
                                                        </td>
                                                           <td>
                                                            <input 
                                                                [(ngModel)]="field.eta" 
                                                                class="form-control" 
                                                                type="date" 
                                                                style="width:150px;"
                                                                name="{{field.eta}}" />
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-default"  
                                                            type="button" 
                                                            style="background-color: #16A085; color: white;width:40px;"
                                                            (click)="deleteFieldValue(i)">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p-dropdown 
                                                            [options]="brokerDropdown" 
                                                            [(ngModel)]="newAttribute.type" 
                                                            optionLabel="name" 
                                                          
                                                            [editable]="true"
                                                            [style]="{'width':'80px'}"
                                                            (onChange)="onBrokerTypeChangeNew($event)"
                                                            >
                                                            </p-dropdown>
                                                         
                                                        </td>
                                                          
                                                           <td>
                                                            <p-multiSelect 
                                                            [options]="mlidDropdown1" 
                                                            [(ngModel)]="newAttribute.mlid" 
                                                            optionLabel="name" 
                                                           [showHeader] = "false"
                                                          [maxSelectedLabels] = "0"
                                                            [style]="{'width':'95px'}"
                                                             (onChange)="onMlidChangeNew($event)"
                                                           >
                                                            </p-multiSelect>
                                                        </td>
                                                        
                                                        <td>
                                                            <p-dropdown 
                                                            [options]="consigneeDropdown2" 
                                                            [(ngModel)]="newAttribute.consignee" 
                                                            optionLabel="name" 
                                                          
                                                            [editable]="true"
                                                            [style]="{'width':'80px'}"
                                                            >
                                                            </p-dropdown>
                                                        </td>
                                                        <td padding = "2px">
                                                            <input 
                                                                [(ngModel)]="newAttribute.mawb" 
                                                                class="form-control" 
                                                                type="text" 
                                                                   style="width:120px;"
                                                                id = "newAttributeMawb"
                                                                name="newAttributeMawb" />
                                                        </td>
                                                        <td>






                                                             <p-dropdown 
                                                            [options]="destinations" 
                                                            [(ngModel)]="newAttribute.dest" 
                                                            optionLabel="name" 
                                                            
                                                            [editable]="true"
                                                            [style]="{'width':'70px'}"
>
                                                            </p-dropdown>
                                                        </td>
                                                        <td>
                                                            <input 
                                                                [(ngModel)]="newAttribute.flight" 
                                                                class="form-control" 
                                                                type="text" 
                                                                  style="width:75px;"
                                                                id ="newAttributeFlight"
                                                                name="newAttributeFlight" />
                                                        </td>
                                                       
                                                        <td>
                                                            <input 
                                                                [(ngModel)]="newAttribute.price" 
                                                                class="form-control" 
                                                                type="text" 
                                                                style="width:50px;"
                                                                id = "newAttributePrice"
                                                                name="newAttributePrice" />
                                                        </td>
                                                        <td>
                                                            <input 
                                                                [(ngModel)]="newAttribute.weight" 
                                                                class="form-control" 
                                                                type="text" 
                                                                 style="width:60px;"
                                                                id ="newAttributeWeight"
                                                                name="newAttributeWeight" />
                                                        </td>
                                                        <td>
                                                            <input 
                                                                [(ngModel)]="newAttribute.hawb" 
                                                                 style="width:60px;"
                                                                class="form-control" 
                                                                type="text" 
                                                                id ="newAttributeHawb"
                                                                name="newAttributeHawb" />
                                                        </td>
                                                          
    <td>
                                                            <input 
                                                                [(ngModel)]="newAttribute.eta" 
                                                                 style="width:150px;"
                                                                class="form-control" 
                                                                type="date" 
                                                                id ="newAttributeeta"
                                                                name="newAttributeeta" />
                                                        </td>
                                                               <td>
                                                            <button class="btn btn-default" 
                                                            type="button" 
                                                            style="background-color: #16A085; color: white;width:40px;"
                                                            (click)="addFieldValue()">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                           
                                                        </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                </table>
                      
                          
                            <div class="col-md-6">
                                    <button type="button" 
                                            class="btn btn-info" 
                                            *ngIf="englishFlag"
                                            (click)="creatEnquiry()"
                                            style="background-color: #16A085; float:right; margin:10px;">
                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                            Submit
                                    </button>
                
                                   
                            </div>
                       
                </div>
            </div>
        </div>
    </body>
        