 #header{
    background: #16A085;
  }
.gst-service p{
    font-size: 15px;
  }
  
  .article-png{
    text-align: center;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .subheading{
    font-size: 17px;
    color: #16A085;
  }


.info-list li {
  margin-bottom: 15px;
  font-weight: 400;
  color: #555;
}
 .info-list li:last-child{
  margin:0;
}
.info-list li i {
  border: 1px solid;
  width: 20px;
  height: 20px;
  font-size: 12px;
  margin-right: 10px;
  line-height: 20px;
  text-align: center;
}
.grid-container {

  width:90%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 10px;
}

.item1 {
  grid-column: 1;
  grid-row: 1 / span 4;
}
  


.grid-container > div > a{
  text-align: center;
color:#000000;

}
.icon{
  font-size:24px;
color:#FF0000;
  
}
.grid-container > div > h6{
  
}
