<div class="container">
        <div class="card card-container">
            
            <h1 class="text">Speed Couriers/速度快递员</h1>
                <h1 class="chiness-text">  </h1>
            
            <img id="profile-img" 
                 class="profile-img-card" 
                 src="../../../../assets/img/speed-courier.png"/>
            
            <p id="profile-name" class="profile-name-card">
            </p>

            <form class="form-signin" [formGroup]="loginForm">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" 
                        class="fa fa-home"
                        formControlName="userName"
                        id="inputEmail" 
                        class="form-control" 
                        placeholder="User Name / 用户名" 
                        required>
                <input type="password" 
                        id="inputPassword" 
                        formControlName="passWord"
                        class="form-control" 
                        placeholder="Password / 密码" 
                        required>
               
                <button 
                        class="btn btn-lg btn-primary btn-block btn-signin" 
                        type="submit"
                        (click)="login()"
                        style="margin-top:20px; margin-bottom:20px">
                        Sign in / 登入
                </button>
                
            </form>

            <ngx-spinner
                    bdColor="rgba(51,51,51,0.8)"
                    size="medium"
                    color="#fff"
                    loadingText="Loading..."
                    type="ball-clip-rotate-multiple">
            </ngx-spinner>

            <div>
                    <p class="err_msg">{{errorMsg}}</p>
            </div>
           
            
            <a class="forgot-password">
                *Forgot password, Please send email to Us
            </a>

            <div style="margin-top:15px">
                <a class="forgot-password">
                    *忘记密码，请发邮件给我们
                </a>
            </div>
            
        </div>
    </div>