<body class="nav-md" #maintoggle>
        <div class="container body">
          <div class="main_container">
           
            <client-header> </client-header>

            <div class="right_col" role="main">
                  <div class="row tile_count">
                        <div class="page-title">
                                <div class="title_left">
                                  <h3 style="margin-left: 10px;" *ngIf="englishFlag"> Print Labels / ZEBRA </h3>
                                  <h3 style="margin-left: 10px;" *ngIf="chinessFlag"> 打印标签 / 斑马 </h3>
                                </div>
                        </div>
                  </div>
                  
                  <div class="printlabel_search">
                      <div>
                        <p style="float: left; margin-top: 5px;" *ngIf="englishFlag"> Select File To Print Labels : </p>
                        <p style="float: left; margin-top: 5px;" *ngIf="chinessFlag"> 选择“要打印标签的文件” : </p>

                        <div style="margin-left:20px; float: left">
                            <p-dropdown 
                                [options]="cities2" 
                                [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="selectedCity2" 
                                optionLabel="name" 
                                [showClear]="true"
                                [editable]="true"
                                (onChange)="onFileChange($event)">
                            </p-dropdown>
                        </div>

                        <button type="button" 
                                *ngIf="englishFlag"
                                class="btn btn-info" 
                                (click)="zibraSearch()"
                                style="background-color: #16A085; margin-left:30px">
                                Search
                        </button>

                        <button type="button" 
                                *ngIf="chinessFlag"
                                class="btn btn-info" 
                                (click)="zibraSearch()"
                                style="background-color: #16A085; margin-left:30px">
                                搜索
                        </button>

                        </div>
                  </div>

                  <div class="printlabel_panel">
                      <div style="margin-top: 25px; margin-bottom: -20px;">
                          <p class="success_msg">{{successMsg}}</p>
                      </div>

                      <div style="margin-top: 25px;">
                          <p class="err_msg">{{errorMsg}}</p>
                      </div>
                      <ngx-spinner
                                bdColor="rgba(51,51,51,0.8)"
                                size="medium"
                                color="#fff"
                                loadingText="Loading..."
                                type="ball-circus">
                      </ngx-spinner>
                     
                      <button type="button" 
                              *ngIf="englishFlag"
                              class="btn btn-info" 
                              (click)="printLabels()"
                              style="background-color:#16A085; float:right; margin-right:20px; margin-top:10px;">
                              Print Labels
                      </button>

                      <button type="button" 
                              *ngIf="chinessFlag"
                              class="btn btn-info" 
                              (click)="printLabels()"
                              style="background-color:#16A085; float:right; margin-right:20px; margin-top:10px;">
                              打印标签
                      </button>
    
                      <div style="padding:20px">
                        <p *ngIf="englishFlag"> Please select below records to print </p>
                        <p *ngIf="chinessFlag"> 请选择以下记录进行打印 </p>
                          <div>
                              <ag-grid-angular 
                                        #agGrid style="width: 100%; height: 500px;" 
                                        class="ag-theme-balham" 
                                        [autoGroupColumnDef]="autoGroupColumnDef"
                                        [rowData]="rowData"
                                        [enableSorting]="true"
                                        [enableFilter]="true"
                                        [suppressRowClickSelection]="true"
                                        [groupSelectsChildren]="true"
                                        [debug]="true"
                                        [rowSelection]="rowSelection"
                                        [enableColResize]="true"
                                        [rowGroupPanelShow]="rowGroupPanelShow"
                                        [pivotPanelShow]="pivotPanelShow"
                                        [enableRangeSelection]="true"
                                        [pagination]="true"
                                        [defaultColDef]="defaultColDef"
                                        [gridOptions]="gridOptions" 
                                        [pagination]="true"
                                        (selectionChanged)="onSelectionChange($event)">
                              </ag-grid-angular>
                          </div>
                      </div>
                  </div>
            </div>

            <footer id="footer" class="wow fadeIn">
              <div class="copyright">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="text">
                        <p *ngIf="englishFlag">&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a>D2Z</a> (Distributor)</p>
                        <p *ngIf="chinessFlag">&copy; 版权 2018<span><i class="fa fa-heart"></i></span><a>D2Z</a> (分销商)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
            
          </div>
        </div>
      </body>
    