<body class="nav-md" #maintoggle>
    <div class="container body">
      <div class="main_container">
        
        <super-user-header></super-user-header>
        
        <div class="right_col" role="main">
              
          <div class="row tile_count">
                <div class="page-title">
                    <div class="title_left">
                      <h3 style="margin-left: 10px;"> INVOICES </h3>
                    </div>
                </div>
          </div>

          <div class="modal fade" id="invoice" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}}</h4>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
          </div>

           <mat-tab-group animationDuration="1000ms" [(selectedIndex)]="selectedTab" #tabGroup (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Invoices / Pending">
              <div class="delete_panel">
                    <ngx-spinner
                      bdColor="rgba(51,51,51,0.8)"
                      size="medium"
                      color="#fff"
                      loadingText="Loading..."
                      type="ball-clip-rotate-multiple">
                    </ngx-spinner>

                    <div>
                        <p class="success_msg">{{successMsg}}</p>
                    </div>

                    <div>
                        <p class="err_msg">{{errorMsg}}</p>
                    </div>
                        
                    <div style="padding:20px; margin-top:10px">
                      <p style="margin-left:15px !important"> Please select the below records to download the Shipment details </p>
                        
                          <div class="col-md-9">
                            <ag-grid-angular 
                                      #agGrid style="width:90%; height:550px" 
                                      class="ag-theme-balham" 
                                      [autoGroupColumnDef]="autoGroupColumnDef"
                                      [rowData]="rowData"
                                      [enableSorting]="true"
                                      [enableFilter]="true"
                                      [suppressRowClickSelection]="true"
                                      [groupSelectsChildren]="true"
                                      [debug]="true"
                                      [rowSelection]="rowSelection"
                                      [enableColResize]="true"
                                      [rowGroupPanelShow]="rowGroupPanelShow"
                                      [pivotPanelShow]="pivotPanelShow"
                                      [enableRangeSelection]="true"
                                      [pagination]="true"
                                      [defaultColDef]="defaultColDef"
                                      [gridOptions]="gridOptions" 
                                      [pagination]="true"
                                      (selectionChanged)="onSelectionChange($event)">
                            </ag-grid-angular>
                          </div>

                          <div class="col-md-2">

                            <button type="button" 
                                  class="btn btn-info"
                                  (click)="clearInvoiceD2zPending()"
                                  style="background-color: #16A085; float:left; margin-left:130px; margin-top:-50px">
                                  <span class="glyphicon glyphicon-refresh"></span>Refresh
                            </button>

                            <button type="button" 
                                class="btn btn-info" 
                                (click)="downloadPendingInvoice()"
                                style="background-color: #16A085; margin-left:50px">
                                <span class="glyphicon glyphicon-cloud-download"></span>
                                    Download  Shipment
                            </button>

                            <button type="button" 
                                class="btn btn-info" 
                                (click)="invoiceApprove()"
                                *ngIf="invoiceApproveFlag"
                                style="background-color: #16A085; margin-left:60px; margin-top: 20px">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                    Approve Shipment
                            </button>
                          </div>

                    </div>
              </div>  
            </mat-tab>

            <mat-tab label="Invoices / Approved"> 
              <div class="delete_panel">
                  <ngx-spinner
                    bdColor="rgba(51,51,51,0.8)"
                    size="medium"
                    color="#fff"
                    loadingText="Loading..."
                    type="ball-clip-rotate-multiple">
                  </ngx-spinner>
                  
                   <!-- Modal -->
                  <div class="modal fade" id="invoice" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}} {{errorMsg}}</h4>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                      <p class="success_msg">{{successMsg}}</p>
                  </div>

                  <div>
                      <p class="err_msg">{{errorMsg}}</p>
                  </div>

                  <div style="padding:10px; margin-top:10px">
                      <p style="margin-left:15px !important"> Please select the below records to download the Approved Invoice details </p>

                      <div class="col-md-9">
                          <ag-grid-angular 
                                    #agGrid style="width:90%; height:550px" 
                                    class="ag-theme-balham" 
                                    [autoGroupColumnDef]="autoGroupColumnDef"
                                    [rowData]="rowDataApproved"
                                    [enableSorting]="true"
                                    [enableFilter]="true"
                                    [suppressRowClickSelection]="true"
                                    [groupSelectsChildren]="true"
                                    [debug]="true"
                                    [rowSelection]="rowSelection"
                                    [enableColResize]="true"
                                    [rowGroupPanelShow]="rowGroupPanelShow"
                                    [pivotPanelShow]="pivotPanelShow"
                                    [enableRangeSelection]="true"
                                    [pagination]="true"
                                    [defaultColDef]="defaultColDef"
                                    [gridOptions]="gridOptionsApproved" 
                                    [pagination]="true"
                                    (selectionChanged)="onApprovedChange($event)">
                          </ag-grid-angular>
                        </div>

                        <div class="col-md-2">
                          <button type="button" 
                            class="btn btn-info"
                            (click)="clearInvoiceD2zApproved()"
                            style="background-color: #16A085; float:left; margin-left:115px; margin-top:-40px">
                            <span class="glyphicon glyphicon-refresh"></span>
                            Refresh
                          </button>

                          <button type="button" 
                              class="btn btn-info" 
                              (click)="downloadApprovedInvoice()"
                              style="background-color: #16A085; margin-left:40px;  margin-top:10px">
                              <span class="glyphicon glyphicon-cloud-download"></span>
                                  Download  Shipment
                          </button>

                          <button type="button" 
                              class="btn btn-info" 
                              (click)="billedInvoice()"
                              *ngIf="invoiceBilledFlag"
                              style="background-color: #16A085; margin-left:65px; margin-top:20px">
                              <span class="glyphicon glyphicon-thumbs-up"></span>
                                  Billed Shipment
                          </button>
                        </div>

                  </div>
              
              </div>
            </mat-tab>

            <mat-tab label="Invoices / Upload Weight"> 
                  <div class="delete_search">
                      <div class = "row">
                            <div class = "col-md-4">
                              <p> Select the File to upload the Data: </p>
                            </div>
                            <div class = "col-md-6">
                              <input type="file" 
                                     style="display: inline-block;" 
                                     (change)="incomingfile($event)" 
                                            placeholder="Upload file" accept=".xlsx">
                            </div>

                      </div>
                  </div>
                  
                  <div class="delete_panel">
                    <ngx-spinner
                      bdColor="rgba(51,51,51,0.8)"
                      size="medium"
                      color="#fff"
                      loadingText="Loading..."
                      type="ball-clip-rotate-multiple">
                    </ngx-spinner>
                  
                    <!-- Modal -->
                    <div class="modal fade" id="invoice" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}} {{errorMsg}}</h4>
                          </div>
                          <div class="modal-footer">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div>
                        <p class="success_msg">{{successMsg}}</p>
                    </div>

                    <div>
                        <p class="err_msg">{{errorMsg}}</p>
                    </div>

                    <div style="padding:10px; margin-top:10px">
                          <div style="float: left">
                            <p style="margin-top: 60px;"> Please select records to update Weight :</p>
                          </div> 

                          <div class="col-md-4">
                              <button type="button" 
                                class="btn btn-info" 
                                (click)="uploadWeight()"
                                style="background-color: #16A085; float:right; margin-bottom: 5px">
                                <span class="glyphicon glyphicon-cloud-upload"></span>
                                Upload
                              </button>
                          </div>

                          <div class="row" style="margin-top: 25px">
                                <div class="col-md-9">
                                  <ag-grid-angular 
                                              #agGrid style="width:90%; height:550px" 
                                              class="ag-theme-balham" 
                                              [autoGroupColumnDef]="autoGroupColumnDef"
                                              [rowData]="rowDataWeight"
                                              [enableSorting]="true"
                                              [enableFilter]="true"
                                              [suppressRowClickSelection]="true"
                                              [groupSelectsChildren]="true"
                                              [debug]="true"
                                              [rowSelection]="rowSelection"
                                              [enableColResize]="true"
                                              [rowGroupPanelShow]="rowGroupPanelShow"
                                              [pivotPanelShow]="pivotPanelShow"
                                              [enableRangeSelection]="true"
                                              [pagination]="true"
                                              [defaultColDef]="defaultColDef"
                                              [gridOptions]="gridOptionsWeight" 
                                              [pagination]="true"
                                              (selectionChanged)="onApprovedChange($event)">
                                    </ag-grid-angular>    
                                </div>
                                
                        </div>
                  </div>
              </div>
            </mat-tab>

            <mat-tab label="Invoices / Invoicing per MAWB"> 

                    <div class="delete_search">
                        <div class="row">
                              <div class="col-md-4">
                                    <p> Select the File to upload the Data: </p>
                              </div>
                              <div class ="col-md-6">
                                <input type="file" 
                                      style="display: inline-block;" 
                                      (change)="incomingfile1($event)" 
                                      placeholder="Upload file" accept=".xlsx">
                              </div> 
                        </div>
                    </div>

                    <div class="mawb_panel">
                        <ngx-spinner
                          bdColor="rgba(51,51,51,0.8)"
                          size="medium"
                          color="#fff"
                          loadingText="Loading..."
                          type="ball-clip-rotate-multiple">
                        </ngx-spinner>
                  
                       <!-- Modal -->
                        <div class="modal fade" id="invoice" role="dialog">
                          <div class="modal-dialog">
                            <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}} {{errorMsg}}</h4>
                              </div>
                              <div class="modal-footer">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div>
                            <p class="success_msg">{{successMsg}}</p>
                        </div>

                        <div>
                            <p class="err_msg">{{errorMsg}}</p>
                        </div>

                        <div class="row" style="padding-top:10px">
                          <div class="col-md-5" style="margin-left:-15px"> 
                              <form [formGroup]="shipmentAllocateForm">
                                    <div class="ui-inputgroup">
                                            <input type="text" 
                                                  pInputText 
                                                  placeholder="MAWB" 
                                                  class="input-text"
                                                  formControlName="shipmentNumber">    
                                    </div>
                                </form>
                          </div>

                          <div class="col-md-2">
                              <button type="button" 
                                      class="btn btn-info" 
                                      (click)="allocateShipment()"
                                      style="background-color: #16A085">
                                      <span class="glyphicon glyphicon-saved"></span>
                                      Submit
                              </button>
                          </div>
                        </div>

                        <div style="padding:10px">
                          <p> Please select the below records to allocate the shipment </p>
                            <div class="row" style="margin-top: 25px">
                                <div class="col-md-9">
                                      <ag-grid-angular 
                                          #agGrid style="width:70%; height:500px" 
                                          class="ag-theme-balham" 
                                          [autoGroupColumnDef]="autoGroupColumnDef"
                                          [rowData]="rowDataArticle"
                                          [enableSorting]="true"
                                          [enableFilter]="true"
                                          [suppressRowClickSelection]="true"
                                          [groupSelectsChildren]="true"
                                          [debug]="true"
                                          [rowSelection]="rowSelection"
                                          [enableColResize]="true"
                                          [rowGroupPanelShow]="rowGroupPanelShow"
                                          [pivotPanelShow]="pivotPanelShow"
                                          [enableRangeSelection]="true"
                                          [pagination]="true"
                                          [defaultColDef]="defaultColDef"
                                          [gridOptions]="articlegridOptions" 
                                          [pagination]="true"
                                          (selectionChanged)="onSelectionArticleChange($event)">
                                      </ag-grid-angular>
                                </div>
                              </div>
                        </div> 

                    </div>
            </mat-tab>

            <mat-tab label="Shipment Charges"> 
              <div class="delete_panel">
                  <ngx-spinner
                    bdColor="rgba(51,51,51,0.8)"
                    size="medium"
                    color="#fff"
                    loadingText="Loading..."
                    type="ball-clip-rotate-multiple">
                  </ngx-spinner>
                  
                  <div>
                    <p class="err_msg">{{errorMsg}}</p>
                  </div>

                   <div style="padding:10px; margin-top:10px">
                      <p style="margin-left:15px !important"> Please select the below records to download the shipment charges details </p>
                      
                      <div>
                          <button type="button" 
                                class="btn btn-info" 
                                (click)="chargesApprove()"
                                style="background-color: #16A085; margin-right:35px; float:right">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                    Approve Charges
                          </button>
                      </div>

                      <div>
                          <button type="button" 
                                  class="btn btn-info" 
                                  (click)="downloadShipmentCharges()"
                                  style="background-color: #16A085; float:right;margin-bottom:10px;margin-right:37px;">
                                  <span class="glyphicon glyphicon-cloud-download"></span>
                                      Download  Shipment Charges
                          </button>
                      </div>
                      <div class="col-md-12">
                          <ag-grid-angular 
                                    #agGrid style="width:98%; height:550px" 
                                    class="ag-theme-balham" 
                                    [autoGroupColumnDef]="autoGroupColumnDef"
                                    [rowData]="rowDataShipmentChanges"
                                    [enableSorting]="true"
                                    [enableFilter]="true"
                                    [suppressRowClickSelection]="true"
                                    [groupSelectsChildren]="true"
                                    [debug]="true"
                                    [rowSelection]="rowSelection"
                                    [enableColResize]="true"
                                    [rowGroupPanelShow]="rowGroupPanelShow"
                                    [pivotPanelShow]="pivotPanelShow"
                                    [enableRangeSelection]="true"
                                    [pagination]="true"
                                    [defaultColDef]="defaultColDef"
                                    [gridOptions]="gridOptionsShipmentCharges" 
                                    [pagination]="true"
                                    (selectionChanged)="onSelectionShipmentChange($event)">
                          </ag-grid-angular>
                        </div>
                    </div>
              </div>
            </mat-tab>

           <!-- <mat-tab label="Invoices Non-D2Z / Pending"> 
              <div class="delete_panel">
                  <ngx-spinner
                    bdColor="rgba(51,51,51,0.8)"
                    size="medium"
                    color="#fff"
                    loadingText="Loading..."
                    type="ball-clip-rotate-multiple">
                  </ngx-spinner>
                  
                  <div class="modal fade" id="invoice" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}} {{errorMsg}}</h4>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                      <p class="success_msg">{{successMsg}}</p>
                  </div>

                  <div>
                      <p class="err_msg">{{errorMsg}}</p>
                  </div>

                  <div style="padding:10px; margin-top:10px">
                      <p> Please select the below records to download the Non-D2Z Invoice details </p>
                      <div class="col-md-9">
                          <ag-grid-angular 
                                    #agGrid style="width:90%; height:550px" 
                                    class="ag-theme-balham" 
                                    [autoGroupColumnDef]="autoGroupColumnDef"
                                    [rowData]="rowDataNonD2zPending"
                                    [enableSorting]="true"
                                    [enableFilter]="true"
                                    [suppressRowClickSelection]="true"
                                    [groupSelectsChildren]="true"
                                    [debug]="true"
                                    [rowSelection]="rowSelection"
                                    [enableColResize]="true"
                                    [rowGroupPanelShow]="rowGroupPanelShow"
                                    [pivotPanelShow]="pivotPanelShow"
                                    [enableRangeSelection]="true"
                                    [pagination]="true"
                                    [defaultColDef]="defaultColDef"
                                    [gridOptions]="gridOptionsNonD2zPending" 
                                    [pagination]="true"
                                    (selectionChanged)="onNonD2zPendingChange($event)">
                          </ag-grid-angular>
                        </div>

                        <div class="col-md-2">
                          <button type="button" 
                              class="btn btn-info"
                              (click)="clearInvoiceNDPending()"
                              style="background-color: #16A085; float:left; margin-left:115px; margin-top:-40px">
                              <span class="glyphicon glyphicon-refresh"></span>
                              Refresh
                          </button>

                          <button type="button" 
                              class="btn btn-info" 
                              (click)="downloadNonD2zPendingInvoice()"
                              style="background-color: #16A085; margin-right:20px; margin-top: 10px">
                              <span class="glyphicon glyphicon-cloud-download"></span>
                                  Download  Non-D2z Shipment
                          </button>

                          <button type="button" 
                              class="btn btn-info" 
                              (click)="nonD2zBilledInvoice()"
                              *ngIf="nonD2zInvoiceApproveFlag"
                              style="background-color: #16A085; margin-right:20px; margin-top: 20px">
                              <span class="glyphicon glyphicon-thumbs-up"></span>
                                  Approve Non-D2Z Shipment
                          </button>
                        </div>

                  </div>
              
              </div>
            </mat-tab>

            <mat-tab label="Invoices Non-D2Z / Approved"> 
              <div class="delete_panel">
                  <ngx-spinner
                    bdColor="rgba(51,51,51,0.8)"
                    size="medium"
                    color="#fff"
                    loadingText="Loading..."
                    type="ball-clip-rotate-multiple">
                  </ngx-spinner>
                  
                  <div class="modal fade" id="invoice" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}} {{errorMsg}}</h4>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                      <p class="success_msg">{{successMsg}}</p>
                  </div>

                  <div>
                      <p class="err_msg">{{errorMsg}}</p>
                  </div>

                  <div style="padding:10px; margin-top:10px">
                      <p> Please select the below records to download the Approved Non-D2Z Invoice details </p>
                      <div class="col-md-9">
                          <ag-grid-angular 
                                    #agGrid style="width:90%; height:550px" 
                                    class="ag-theme-balham" 
                                    [autoGroupColumnDef]="autoGroupColumnDef"
                                    [rowData]="rowDataNonD2zApproved"
                                    [enableSorting]="true"
                                    [enableFilter]="true"
                                    [suppressRowClickSelection]="true"
                                    [groupSelectsChildren]="true"
                                    [debug]="true"
                                    [rowSelection]="rowSelection"
                                    [enableColResize]="true"
                                    [rowGroupPanelShow]="rowGroupPanelShow"
                                    [pivotPanelShow]="pivotPanelShow"
                                    [enableRangeSelection]="true"
                                    [pagination]="true"
                                    [defaultColDef]="defaultColDef"
                                    [gridOptions]="gridOptionsNonD2zApproved" 
                                    [pagination]="true"
                                    (selectionChanged)="onNonD2zApprovedChange($event)">
                          </ag-grid-angular>
                        </div>

                        <div class="col-md-2">
                          <button type="button" 
                              class="btn btn-info"
                              (click)="clearInvoiceNDApproved()"
                              style="background-color: #16A085; float:left; margin-left:110px; margin-top:-40px">
                              <span class="glyphicon glyphicon-refresh"></span>
                              Refresh
                          </button>

                          <button type="button" 
                              class="btn btn-info" 
                              (click)="downloadNonD2zApprovedInvoice()"
                              style="background-color: #16A085; margin-right:20px; margin-top: 10px">
                              <span class="glyphicon glyphicon-cloud-download"></span>
                                  Download  Non-D2z Shipment
                          </button>

                          <button type="button" 
                              class="btn btn-info"
                              (click)="nonD2zBilledInvoiceApproved()"
                              *ngIf="nonD2zInvoiceBilledFlag"
                              style="background-color: #16A085; margin-right:20px; margin-top: 20px">
                              <span class="glyphicon glyphicon-thumbs-up"></span>
                                  Billed Non-D2Z Shipment
                          </button>
                        </div>

                  </div>
              
              </div>
            </mat-tab>-->
          </mat-tab-group>
    </div>

        <footer id="footer" class="wow fadeIn">
            <div class="copyright">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text">
                        <p>&copy; Copyright 2018<span></span><a>{{system}}</a> (Distributor)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </footer>

      </div>
    </div>
</body>
