<body class="nav-md" #maintoggle>
    <div class="container body">
      <div class="main_container">
        
        <super-user-header></super-user-header>
        
        <div class="right_col" role="main">
              
          <div class="row tile_count">
                  <div class="page-title">
                        <div class="title_left">
                          <h3 style="margin-left: 10px;"> INVOICES </h3>
                        </div>
                  </div>
          </div>

          <mat-tab-group animationDuration="1000ms" #tabGroup (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Invoices / Pending">
                <div class="delete_panel">
                    
                    <ngx-spinner
                      bdColor="rgba(51,51,51,0.8)"
                      size="medium"
                      color="#fff"
                      loadingText="Loading..."
                      type="ball-clip-rotate-multiple">
                    </ngx-spinner>

                    <div>
                        <p class="success_msg">{{successMsg}}</p>
                    </div>

                    <div>
                        <p class="err_msg">{{errorMsg}}</p>
                    </div>
                        
                    <div style="padding:20px; margin-top:10px">
                      <p> Please select the below records to download the Shipment details </p>
                        
                          <div class="col-md-9">
                            <ag-grid-angular 
                                      #agGrid style="width:90%; height:550px" 
                                      class="ag-theme-balham" 
                                      [autoGroupColumnDef]="autoGroupColumnDef"
                                      [rowData]="rowData"
                                      [enableSorting]="true"
                                      [enableFilter]="true"
                                      [suppressRowClickSelection]="true"
                                      [groupSelectsChildren]="true"
                                      [debug]="true"
                                      [rowSelection]="rowSelection"
                                      [enableColResize]="true"
                                      [rowGroupPanelShow]="rowGroupPanelShow"
                                      [pivotPanelShow]="pivotPanelShow"
                                      [enableRangeSelection]="true"
                                      [pagination]="true"
                                      [defaultColDef]="defaultColDef"
                                      [gridOptions]="gridOptions" 
                                      [pagination]="true"
                                      (selectionChanged)="onSelectionChange($event)">
                            </ag-grid-angular>
                          </div>

                          <div class="col-md-2">
                            <button type="button" 
                                class="btn btn-info" 
                                (click)="downloadPendingInvoice()"
                                style="background-color: #16A085; margin-right:20px; margin-top: 50px">
                                <span class="glyphicon glyphicon-cloud-download"></span>
                                    Download  Shipment
                            </button>

                            <button type="button" 
                                class="btn btn-info" 
                                (click)="invoiceApprove()"
                                *ngIf="invoiceApproveFlag"
                                style="background-color: #16A085; margin-right:20px; margin-top: 20px">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                    Approve Shipment
                            </button>
                          </div>

                    </div>
                </div>  
            </mat-tab>

            <mat-tab label="Invoices / Approved"> 
            
              <div class="delete_panel">
                  <ngx-spinner
                    bdColor="rgba(51,51,51,0.8)"
                    size="medium"
                    color="#fff"
                    loadingText="Loading..."
                    type="ball-clip-rotate-multiple">
                  </ngx-spinner>
                  
                   <!-- Modal -->
                  <div class="modal fade" id="invoice" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}} {{errorMsg}}</h4>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                      <p class="success_msg">{{successMsg}}</p>
                  </div>

                  <div>
                      <p class="err_msg">{{errorMsg}}</p>
                  </div>

                  <div style="padding:10px; margin-top:10px">
                      <p> Please select the below records to download the Approved Invoice details </p>

                      <div class="col-md-9">
                          <ag-grid-angular 
                                    #agGrid style="width:90%; height:550px" 
                                    class="ag-theme-balham" 
                                    [autoGroupColumnDef]="autoGroupColumnDef"
                                    [rowData]="rowDataApproved"
                                    [enableSorting]="true"
                                    [enableFilter]="true"
                                    [suppressRowClickSelection]="true"
                                    [groupSelectsChildren]="true"
                                    [debug]="true"
                                    [rowSelection]="rowSelection"
                                    [enableColResize]="true"
                                    [rowGroupPanelShow]="rowGroupPanelShow"
                                    [pivotPanelShow]="pivotPanelShow"
                                    [enableRangeSelection]="true"
                                    [pagination]="true"
                                    [defaultColDef]="defaultColDef"
                                    [gridOptions]="gridOptionsApproved" 
                                    [pagination]="true"
                                    (selectionChanged)="onApprovedChange($event)">
                          </ag-grid-angular>
                        </div>

                        <div class="col-md-2">
                          <button type="button" 
                              class="btn btn-info" 
                              (click)="downloadApprovedInvoice()"
                              style="background-color: #16A085; margin-right:20px; margin-top: 50px">
                              <span class="glyphicon glyphicon-cloud-download"></span>
                                  Download  Shipment
                          </button>

                          <button type="button" 
                              class="btn btn-info" 
                              (click)="billedInvoice()"
                              *ngIf="invoiceBilledFlag"
                              style="background-color: #16A085; margin-right:20px; margin-top: 20px">
                              <span class="glyphicon glyphicon-thumbs-up"></span>
                                  Billed Shipment
                          </button>
                        </div>

                  </div>
              
              </div>
            
            </mat-tab>

          </mat-tab-group>
          

         

        </div>

      </div>
    </div>
  </body>
