<body class="nav-md" #maintoggle>
    <div class="container body">
        <div class="main_container">
            
            <client-header> </client-header>

            <div class="right_col" role="main">
                <div class="row tile_count">
                        <div class="page-title">
                                <div class="title_left">
                                  <h3 style="margin-left: 10px" *ngIf="englishFlag"> Manifest / Creation </h3>
                                  <h3 style="margin-left: 10px" *ngIf="chinessFlag"> 清单 / 创建 </h3>
                                </div>
                        </div>
                </div>

                <div class="manifest_search row">
                        <form [formGroup]="manifestForm">
                            
                            <div class="col-md-3">
                                <p style="float:left; margin-top:5px" *ngIf="englishFlag"> Select the file containing the data to manifest : </p>
                                <p style="float:left; margin-top:5px" *ngIf="chinessFlag"> 选择包含要显示的数据的文件 : </p>
                            </div>

                            <div class="col-md-4">
                              <p-dropdown 
                                    [options]="cities2" 
                                    [(ngModel)]="selectedCity2" 
                                    optionLabel="name" 
                                    [showClear]="true"
                                    [editable]="true"
                                    [style]="{'width':'100%'}"
                                    (onChange)="onFileChange($event)" 
                                    formControlName="manifestFile">
                              </p-dropdown>
                            </div>                      
                            
                            <div class="col-md-2">
                                <button type="button" 
                                        class="btn btn-info" 
                                        *ngIf="englishFlag"
                                        (click)="manifestSearch()"
                                        style="background-color: #16A085">
                                        Search
                                </button>

                                <button type="button" 
                                        class="btn btn-info" 
                                        *ngIf="chinessFlag"
                                        (click)="manifestSearch()"
                                        style="background-color: #16A085">
                                        搜索
                                </button>
                            </div>
                        </form>
                </div>
    
                <div class="manifest_panel">
                      <ngx-spinner
                                bdColor="rgba(51,51,51,0.8)"
                                size="medium"
                                color="#fff"
                                loadingText="Loading..."
                                type="ball-circus">
                      </ngx-spinner>
                      
                      <div style="margin-top: 30px">
                            <div style="margin-bottom:-20px;">
                                <p class="success-msg">{{successMsg}}</p>
                            </div>

                            <div>
                                <p class="err-msg">{{errorMsg}}</p>
                            </div>
                      </div>

                      <div class="row">
                          <div class="col-md-4"></div>
                          <div class="col-md-3"></div>
                          <div class="col-md-3">
                                        <div class="ui-inputgroup" >
                                            <input type="text" 
                                                    pInputText 
                                                    *ngIf="englishFlag"
                                                    id="manifestNumber" 
                                                    placeholder="Manifest Number" 
                                                    class="input-text">   
                                            <input type="text" 
                                                    pInputText 
                                                    *ngIf="chinessFlag"
                                                    id="manifestNumber" 
                                                    placeholder="清单号" 
                                                    class="input-text">   
                                        </div>
                          </div>
                          <div class="col-md-2">
                                <div>
                                        <button type="button" 
                                                  class="btn btn-info"
                                                  *ngIf="englishFlag" 
                                                  (click)="manifestCreation()"
                                                  style="background-color: #16A085">
                                                  Allocate Manifest
                                        </button>
            
                                        <button type="button" 
                                                  class="btn btn-info" 
                                                  *ngIf="chinessFlag"
                                                  (click)="manifestCreation()"
                                                  style="background-color: #16A085">
                                                  分配清单
                                        </button>
                                </div>
                          </div>
                      </div>
                      

                     
    
                      <div style="padding:20px">
                        <p *ngIf="englishFlag"> Please select below records to manifest </p>
                        <p *ngIf="chinessFlag"> 请选择以下记录进行清单 </p>
                          <div>
                              <ag-grid-angular 
                                        #agGrid style="width: 100%; height: 500px;" 
                                        class="ag-theme-balham" 
                                        [autoGroupColumnDef]="autoGroupColumnDef"
                                        [rowData]="rowData"
                                        [enableSorting]="true"
                                        [enableFilter]="true"
                                        [suppressRowClickSelection]="true"
                                        [groupSelectsChildren]="true"
                                        [debug]="true"
                                        [rowSelection]="rowSelection"
                                        [enableColResize]="true"
                                        [rowGroupPanelShow]="rowGroupPanelShow"
                                        [pivotPanelShow]="pivotPanelShow"
                                        [enableRangeSelection]="true"
                                        [pagination]="true"
                                        [defaultColDef]="defaultColDef"
                                        [gridOptions]="gridOptions" 
                                        [pagination]="true"
                                        (selectionChanged)="onSelectionChange($event)">
                              </ag-grid-angular>
                          </div>
                      </div>
                </div>
            </div>

            <footer id="footer" class="wow fadeIn">
                    <div class="copyright">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="text">
                              <p *ngIf="englishFlag">&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a>D2Z</a> (Distributor)</p>
                              <p *ngIf="chinessFlag">&copy; 版权 2018<span><i class="fa fa-heart"></i></span><a>D2Z</a> (分销商)</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            </footer>

        </div>
    </div>
</body>
    