<body class="nav-md" #maintoggle>
        <div class="container body">
          <div class="main_container">
            <div class="col-md-3 left_col">
              <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                  <a href="index.html" class="site_title">
                    <!-- <i class="fa fa-paw"></i>  -->
                    <img src="../../../assets/img/d2z-logo.png"/>
                    <!-- <span>D2Z</span> -->
                  </a>
                </div>
    
                <div class="clearfix"></div>
    
                <!-- menu profile quick info -->
                <div class="profile clearfix">
                  <div class="profile_pic">
                    <img src="../../../assets/img/img.jpg" alt="..." class="img-circle profile_img">
                  </div>
                  <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>Chris Denham</h2>
                  </div>
                </div>
                <!-- /menu profile quick info -->
    
                <br />
    
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                      <h3>General</h3>
                      <ul class="nav side-menu">
                        <li><a (click)="toggle(arrow)"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down" #arrow></span></a>
                          <ul class="nav child_menu" [ngStyle]="{'display': !childmenu ? 'block' : 'none'}">
                          </ul>
                        </li>
                        <li><a (click)="toggle_zebra(arrow)"><i class="fa fa-edit"></i> CONSIGNMENT ZEBRA <span class="fa fa-chevron-down" #arrow></span></a>
                          <ul class="nav child_menu" [ngStyle]="{'display': !childmenuTwo ? 'block' : 'none'}">
                            <li><a routerLink="/zebra/fileUpload">File Upload</a></li>
                            <li><a routerLink="/zebra/printLabels">Print Labels</a></li>
                            <li><a routerLink="/zebra/delete">Delete</a></li>
                          </ul>
                        </li>
                        <li><a (click)="toggle_pdf(arrow)"><i class="fa fa-desktop"></i> CONSIGNMENT PDF <span class="fa fa-chevron-down" #arrow></span></a>
                          <ul class="nav child_menu" [ngStyle]="{'display': !childmenuThree ? 'block' : 'none'}">
                              <li><a routerLink="/zebraPdf/fileUpload">File Upload</a></li>
                              <li><a routerLink="/zebraPdf/printLabels">Print Labels</a></li>
                              <li><a routerLink="/zebraPdf/delete">Delete</a></li>
                          </ul>
                        </li>
                        <li><a (click)="toggle_utilities(arrow)"><i class="fa fa-table"></i> UTILITIES <span class="fa fa-chevron-down" #arrow></span></a>
                          <ul class="nav child_menu" [ngStyle]="{'display': !childmenuFour ? 'block' : 'none'}">
                              <li><a routerLink="/utilities/trackingNumber">Download tracking numbers</a></li>
                              <li><a routerLink="/utilities/trackParcel">Track Parcels</a></li>
                              <li><a routerLink="/utilities/scanPrintLabels">Scan & Print Labels - Zebra</a></li>
                              <li><a routerLink="/utilities/scanPdf">Scan & Print Labels - PDF</a></li>
                          </ul>
                        </li>
                        <li><a (click)="toggle_maniFest(arrow)"><i class="fa fa-bar-chart-o"></i> MANIFEST CREATION <span class="fa fa-chevron-down" #arrow></span></a>
                          <ul class="nav child_menu" [ngStyle]="{'display': !childmenuFive ? 'block' : 'none'}">
                              <li><a routerLink="/manifest/creation">Create Manifest</a></li>
                          </ul>
                        </li>
                       
                      </ul>
                    </div>
      
      
                  </div>
              </div>
            </div>
    
             <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu" (click)="sidebartoggle(maintoggle)">
                    <nav>
                        <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="../../../assets/img/img.jpg" alt=""> {{this.userName}}
                                <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="index.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- page content -->
            <div class="right_col" role="main">
              <!-- top tiles -->
              <div class="row tile_count">
                    <div class="page-title">
                            <div class="title_left">
                              <h3 style="margin-left: 10px;">CONSIGNMENT ZEBRA -> Print Labels</h3>
                            </div>
                    </div>
              </div>

              <div style="width: 100%; border: 2px solid #ccc; height: 700px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
                                  margin-bottom: 10px; font-size: 16px;">
        
                  <div style="padding-left: 15px; margin-top: 30px;">

                        <div>
                          <p style="float: left"> Select File To Print Labels : </p>

                          <div style="margin-left:20px; float: left">
                            <p-dropdown [options]="cities2" [(ngModel)]="selectedCity2" optionLabel="name" 
                            (onChange)="onFileChange($event)">
                            </p-dropdown>
                          </div>

                          <button type="button" class="btn btn-info" (click)="zibraSearch()"
                                  style="background-color: #16A085; margin-left:80px">Search</button>


                        </div>

                        <div style="margin-top: 20px;">
                            <p style="color:green; font-size: 18px;font-weight: 500;">{{successMsg}}</p>
                        </div>

                        <div style="margin-top: 20px;">
                            <p style="color: #ca2929; font-size:16px; font-weight:500;">
                                    {{errorMsg}}</p>
                        </div>
                  </div>
                  <button type="button" class="btn btn-info" (click)="zibraUpload()"
                      style="background-color: #16A085; float:right; margin-right:20px">Print Labels</button>

                  <div style="padding:20px">
                      
                    <p> Please select the below recorde to print the labels </p>
                    
                      <div>
                          <ag-grid-angular 
                                    #agGrid style="width: 100%; height: 450px;" 
                                    class="ag-theme-balham" 
                                    [autoGroupColumnDef]="autoGroupColumnDef"
                                    [rowData]="rowData"
                                    [enableSorting]="true"
                                    [enableFilter]="true"
                                    [suppressRowClickSelection]="true"
                                    [groupSelectsChildren]="true"
                                    [debug]="true"
                                    [rowSelection]="rowSelection"
                                    [enableColResize]="true"
                                    [rowGroupPanelShow]="rowGroupPanelShow"
                                    [pivotPanelShow]="pivotPanelShow"
                                    [enableRangeSelection]="true"
                                    [pagination]="true"
                                    [defaultColDef]="defaultColDef"
                                    [gridOptions]="gridOptions" 
                                    [pagination]="true"
                                    (selectionChanged)="onSelectionChange($event)">
                          </ag-grid-angular>
                      </div>
                  </div>

                  

              </div>
              <!-- /top tiles -->
    
            </div>

            <!-- Start Footer -->
            <footer id="footer" class="wow fadeIn">
                <!-- Copyright -->
                <div class="copyright">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text">
                          <p>&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a href="https://themewagon.com/" target="_blank">Chris Denham</a> (Distributor)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ End Copyright -->
            </footer>
             <!--/ End Footer -->
            
          </div>
        </div>
      </body>
    