.success_msg{
    color:green; font-size: 16px;font-weight: 500; margin-left: 15px;
}

.err_msg{
    color: #ca2929; font-size:16px; font-weight:500; margin-left: 15px;
}


#why-choose {
	position: relative;
	background: #2c3e50;
	padding: 50px 0;
}
/*#why-choose .why-image {
	position: absolute;
	left: 0px;
	height: 100%;
	top: 0px;
	/*background: url(../../../assets/img/video.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 48%;
	border-right: 5px solid #fff;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}*/
#why-choose .why-image{
	margin-top:30px;
}
#why-choose .why-image img{
	border-bottom:4px solid;
	border-radius: 0 0 10px 10px;
	height: 310px;
}
/*#why-choose .why-image:before{
	position: absolute;
	top: 0;
	top:0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.25);
	content:"";
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
#why-choose .why-image:hover:before{
	background: rgba(0, 0, 0, 0.10);
}
#why-choose .why-image .video a {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	text-align: center;
	color: #fff;
	line-height: 70px;
	border-radius: 100%;
	font-size: 32px;
	margin: -35px 0 0 -35px;
	padding: 2px 2px 2px 6px;
}
#why-choose .why-image:hover .video a{
	border-color:transparent;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
#why-choose .why-image .video a:hover{
	background:#2C3E50;
}*/
#why-choose h2 {
	/*color: #fff;*/
	font-size: 25px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
#why-choose  p {
	color: #eee;
}
#why-choose .single-choose {
	position: relative;
	margin-top: 30px;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}
#why-choose .single-choose i {
	color: #fff;
	text-align: center;
	font-size: 22px;
	margin: 0;
	border: 1px solid #fff;
	width: 52px;
	height: 52px;
	line-height: 52px;
	border-radius: 100%;
	position:relative;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
#why-choose .single-choose:hover i{
	border-color:transparent;
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	transform:scale(1.1);
}
#why-choose .single-choose h4 {
	color: #fff;
	margin: 12px 0 0;
	font-size: 20px;
	font-weight:500;
}
/*=======================
  End Why Choose Us
=========================*/ 

/*=======================
  Team CSS
=========================*/  
#team .single-team {
	text-align: center;
	position: relative;
	margin-top: 30px;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}

#team .single-team.active,
#team .single-team:hover {
	-moz-box-shadow:0px 1px 10px rgba(0, 0, 0, 0.31);
	-webkit-box-shadow:0px 1px 10px rgba(0, 0, 0, 0.31);
	box-shadow:0px 1px 10px rgba(0, 0, 0, 0.31)
}

#team .team-head {
	position: relative;
	overflow: hidden;
}
#team .single-team img {
    width: 100%;
}
#team .team-info {
	position: relative;
	bottom: 0;
	width: 100%;
	padding:10px;
}
#team .team-info .name{
	margin-bottom:10px;
}
#team .team-info .name h4 {
	color: #444;
	position: relative;
	display: inline-block;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0;
	font-weight: 500;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
#team .team-info h4 span {
	margin: 0;
	text-transform: capitalize;
	display: block;
	margin-top: 5px;
	font-size: 15px;
	font-weight: 400;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
#team .team-info p {
	line-height: 22px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 14px;
	color: #666;
}
#team .team-social {
	margin-top: 10px;
}
#team .team-social li {
    display: inline-block;
    margin: 0px 5px;
}
#team .team-social li a {
	display: block;
	height: 26px;
	width: 26px;
	text-align: center;
	color: #fff;
	line-height: 26px;
	font-size: 14px;
	border-radius: 15px;
	border:1px solid transparent;
}
#team .team-social li a:hover{
	background:#444;
}
/*=======================
  End Team CSS
=========================*/ 

/*=======================
  Testimonial CSS
=========================*/
#testimonial{
	/* background:url('images/testimonial.jpg'); */
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
}
#testimonial::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.70);
	content: "";
}
#testimonial .section-title h2{
	color:#fff;
}
#testimonial .section-title h2:after{
	color:#fff;
	opacity:0.2;
}
#testimonial .testimonial-carousel {
	position: relative;
}
#testimonial .testimonial-content {
	padding: 25px 150px 25px;
	position: relative;
	text-align: center;
}
#testimonial .testimonial-content p {
	color: #fff;
}
#testimonial .testimonial-content::before {
	position: absolute;
	font-family: FontAwesome;
	font-size: 40px;
	top: 11px;
	left: 100px;
	content: "\f10d";
	opacity: 1;
	color: #fff;
	transform: rotate(14deg);
}
#testimonial .testimonial-info {
	text-align:center;
}
#testimonial .testimonial-info .arrow{
	position:relative;
}
#testimonial .testimonial-info .arrow::before {
	position: absolute;
	content: "";
	border-top: 16px solid transparent;
	border-left: 23px solid;
	left: 49%;
	top: -14px;
}
#testimonial .testimonial-info .img {
	display: block;
	position: relative;
}
#testimonial .testimonial-info img {
	width: 80px;
	height: 80px;
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: middle;
	position: relative;
	border: 2px solid #fff;
}
#testimonial .testimonial-info h6 {
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 15px;
	position: relative;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	margin: 0;
}
#testimonial .testimonial-info h6:before{
	position:absolute;
	left:0;
	bottom:0;
	width:50%;
	left:50%;
	margin-left:-25%;
	height:2px;
	content:"";
}
#testimonial .testimonial-info span {
	display: block;
	font-size: 12px;
	margin-top: 10px;
	color: #fff;
}
/* Testimonial Nav */
#testimonial .owl-nav div {
	position: absolute;
	top: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-top: -20px;
	background: transparent;
	font-size: 38px;
	padding: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	margin: 0;
}
#testimonial .owl-nav .owl-prev{
	left:0;
}
#testimonial .owl-nav .owl-next{
	right:0;
}