<body class="nav-md" #maintoggle>
        <div class="container body">
          <div class="main_container">
           
            <client-header> </client-header>

            <div class="right_col" role="main">
              <div class="row tile_count">
                    <div class="page-title">
                            <div class="title_left">
                              <h3 style="margin-left: 10px" *ngIf="englishFlag">Utilities / Zebra Scan Print</h3>
                              <h3 style="margin-left: 10px" *ngIf="chinessFlag">公用事业  / 斑马扫描打印 </h3>
                            </div>
                    </div>
              </div>

              <div class="col-md-12 utlities_print_search">

                  <ngx-spinner
                      bdColor="rgba(51,51,51,0.8)"
                      size="medium"
                      color="#fff"
                      loadingText="Loading..."
                      type="ball-clip-rotate-multiple">
                  </ngx-spinner>

                  <div>
                      <p class="successMsg">{{successMsg}}</p>
                  </div>

                  <div>
                      <p class="errMessage">{{errorMsg}}</p>
                  </div>

                  <form [formGroup]="trackingPrintForm">
                    <div class="row">
                      <div class="col-md-4" 
                            style="font-size:16px" 
                            *ngIf="englishFlag"> 
                            Article Id or Reference Number : 
                      </div>
                      <div class="col-md-4" 
                            style="font-size:16px" 
                            *ngIf="chinessFlag"> 
                            条形码标签 或 参考编号 : 
                      </div>
                      <div class="col-md-4"> 
                          <textarea rows="4" 
                                cols="50" 
                                id="print-Util" 
                                style="border: 1px solid #ccc" 
                                formControlName="refBarNum"
                                (input)="printLable()">
                          </textarea>
                      </div>
                    </div>
                  </form>
              </div>

            </div>
          </div>
        </div>
      </body>
    