<body class="nav-md" #maintoggle>
    <div class="container body">
        <div class="main_container">
            
            <client-header> </client-header>

            <div class="right_col" role="main">
                <div class="row tile_count">
                        <div class="page-title">
                                <div class="title_left">
                                  <h3 style="margin-left: 10px" *ngIf="englishFlag"> Returns / Outstanding </h3>
                                  <h3 style="margin-left: 10px" *ngIf="chinessFlag"> 返回 / 优秀 </h3>
                                </div>
                        </div>
                </div>

                <div class="delete_search">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <p > From Date : </p>
                                <mat-form-field>
                                    <input #frominput matInput [matDatepicker]="picker" 
                                                placeholder="Choose a date" 
                                                (dateChange)="FromDateChange($event)">
                                    <mat-datepicker-toggle
                                                 matSuffix 
                                                 [for]="picker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
    
                            <div class="col-md-3">
                                <p > To Date : </p>
                                <mat-form-field>
                                    <input #toinput matInput [matDatepicker]="pickerTo" 
                                                    placeholder="Choose a date" 
                                                    (dateChange)="ToDateChange($event)">
                                    <mat-datepicker-toggle 
                                                  matSuffix 
                                                  [for]="pickerTo">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #pickerTo></mat-datepicker>
                                  </mat-form-field>
                            </div>

                            <div>
                                <div class="col-md-3" style="margin-top:30px">
                                        <button type="button" 
                                                class="btn btn-info" 
                                                (click)="returnSearch()"
                                               style="background-color: #16A085; margin-left:10px">
                                               <span class="glyphicon glyphicon-search"></span>
                                         Search
                                       </button>
                                   </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
    