<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

              <div class="clearfix"></div>
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="../../../assets/img/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                        <h2>{{this.userName}}</h2>
                    </div>
              </div>

              <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li>
                                <a (click)="super_user(arrow)"><i class="fa fa-home"></i> HOME <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperOne ? 'block' : 'none'}">
                                <li><a routerLink="/superuser-main">Information</a></li>
                                </ul>
                            </li>

                            <li *ngIf="client"><a (click)="super_user_zebra(arrow)"><i class="fa fa-user-plus"></i> CLIENT MANAGEMENT <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperTwo ? 'block' : 'none'}">
                                <li *ngIf="clientAdd"><a routerLink="/superuser/add-client">Add Client</a></li>
                                <li *ngIf="clientUpdate"><a routerLink="/superuser/update-client">Update Client</a></li>

                                <li><a routerLink="/superuser/add-service">Add Service</a></li>
                                </ul>
                            </li>

                            <li *ngIf="tracking"><a (click)="super_user_utils(arrow)"><i class="fa fa-universal-access"></i> TRACKING <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperThree ? 'block' : 'none'}">
                                <li *ngIf="trackingUpload"><a routerLink="/superuser/upload-tracking">Upload Tracking</a></li>
                                <li *ngIf="trackingArrival"><a routerLink="/superuser/arrival-report">Arrival Upload</a></li>
                                 <!--<li><a routerLink="/superuser/invoice-report">Export Report</a></li>
                               <li><a routerLink="/superuser/etrack">eTower Tracking</a></li>-->
                                </ul>
                            </li>

                            <li *ngIf="labels"><a (click)="super_user_labels(arrow)"><i class="fa fa-print"></i> Scan & Print Labels<span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperEight? 'block' : 'none'}">
                                <li *ngIf="zebraPrint"><a routerLink="/superuser/labels/print">Zebra</a></li>
                                <li *ngIf="zebraPdf"><a routerLink="/superuser/labels/pdf">PDF</a></li>
                                </ul>
                            </li>


                             <li *ngIf="incomingJob"><a (click)="super_user_incomingJob(arrow)"><i class="fa fa-print"></i> Incoming Jobs<span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperTwelve? 'block' : 'none'}">
                                <li *ngIf="addShipment"><a routerLink="/superuser/incomingJobs/create">Add Shipment</a></li>
                                <li *ngIf="incomingShipment"><a routerLink="/superuser/incomingJobs/outstanding">OutStanding Shipment</a></li>
                                  <li *ngIf="outstandingShipment"><a routerLink="/superuser/incomingJobs/closed">Closed Shipment</a></li>
                                </ul>
                            </li>
                           
                            <li *ngIf="enquiry"><a (click)="super_user_enquiry(arrow)"><i class="fa fa-picture-o"> </i> Enquiry <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperTen? 'block' : 'none'}">
                                <li *ngIf="openEnquiry"><a routerLink="/superuser/enquiry/open-enquiry">Master Enquiries </a></li>
                                <li *ngIf="completedEnquiry"><a routerLink="/superuser/enquiry/completed-enquiry">Completed Enquiries </a></li>
                                </ul>
                            </li>

                            <li *ngIf="returns"><a (click)="super_user_returns(arrow)"><i class="fa fa-empire"> </i> Returns <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperEleven? 'block' : 'none'}">
                                <li *ngIf="scanReturns"><a routerLink="/superuser/returns/scan">Scan Returns </a></li>
                                <li *ngIf="outstandingReturns"><a routerLink="/superuser/returns/outstanding">Outstanding Returns </a></li>
                                <li *ngIf="actionReturns"><a routerLink="/superuser/returns/action">Action Returns </a></li>
                                </ul>
                            </li>
                            
                            <li *ngIf="rates"><a (click)="super_user_rates(arrow)"><i class="fa fa-usd"></i> RATES <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperFour? 'block' : 'none'}">
                                <li *ngIf="ratesAdd"><a routerLink="/superuser/rates/add">Add</a></li>
                                <li *ngIf="ratesUpdate"><a routerLink="/superuser/rates/update">Update</a></li>
                                <li *ngIf="ratesD2z"><a routerLink="/superuser/rates/d2z-rates">D2Z Rates</a></li>
                                </ul>
                            </li>

                            <li *ngIf="mlid"><a (click)="super_user_mlid(arrow)"><i class="fa fa-money"></i> MLID <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperSeven? 'block' : 'none'}">
                                <li ><a routerLink="/superuser/mld">Add/Delete/Download</a></li>
                                </ul>
                            </li>

                            <li *ngIf="auweight"><a (click)="super_user_auweight(arrow)"><i class="fa fa-truck"></i> Au Post Weight <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperNine? 'block' : 'none'}">
                                <li ><a routerLink="/superuser/auweight">Au Post Weight</a></li>
                                </ul>
                            </li>

                            <li *ngIf="invoices"><a (click)="super_user_invoices(arrow)"><i class="fa fa-connectdevelop"></i> INVOICES <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperFive ? 'block' : 'none'}">
                                <li *ngIf="invoicePending"><a routerLink="/superuser/invoices/pending">Pending</a></li>
                                <li *ngIf="invoiceReconcile"><a routerLink="/superuser/invoices/reconcile">Reconcile</a></li>
                                <li *ngIf="invoiceNotBilled"><a routerLink="/superuser/invoice/not-billed">Not Billed</a></li>
                                <li *ngIf="invoiceNonD2z"><a routerLink="/superuser/invoice/non-d2zClient">Non D2Z-Client</a></li>
                                </ul>
                            </li>

                             <li *ngIf="reports"><a (click)="super_user_reports(arrow)"><i class="fa fa-file"></i> REPORTS <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperSix ? 'block' : 'none'}">
                                <li *ngIf="reportShipment"><a routerLink="/superuser/invoice-report">Shipment Summary</a></li>
                                <li *ngIf="reportDelivery"><a routerLink="/superuser/reports/delivery-report">Delivery Report</a></li>
                                <li *ngIf="reportLog"><a routerLink="/superuser/reports/log-report">API Log Report</a></li>
                                </ul>
                            </li>
 
                            <li>
                              <a routerLink={{pageSwitch}}><i class="fa fa-sign-out"></i> Logout</a>
                          </li>
                        </ul>
                    </div>
              </div>

    </div>
</div>

