<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

              <div class="clearfix"></div>
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="../../../assets/img/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                        <h2>{{this.userName}}</h2>
                    </div>
              </div>

              <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li>
                                <a (click)="super_user(arrow)"><i class="fa fa-home"></i> HOME <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperOne ? 'block' : 'none'}">
                                <li><a routerLink="/superuser-main">Information</a></li>
                                </ul>
                            </li>
                            <li><a (click)="super_user_zebra(arrow)"><i class="fa fa-user-plus"></i> CLIENT MANAGEMENT <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperTwo ? 'block' : 'none'}">
                                <li><a routerLink="/superuser/add-client">Add Client</a></li>
                                <li><a routerLink="/superuser/update-client">Update Client</a></li>
                                </ul>
                            </li>
                            <li><a (click)="super_user_utils(arrow)"><i class="fa fa-universal-access"></i> TRACKING <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperThree ? 'block' : 'none'}">
                                <li><a routerLink="/superuser/upload-tracking">Upload Tracking</a></li>
                                <li><a routerLink="/superuser/arrival-report">Arrival Upload</a></li>
                                 <!--<li><a routerLink="/superuser/invoice-report">Export Report</a></li>
                               <li><a routerLink="/superuser/etrack">eTower Tracking</a></li>-->
                                </ul>
                            </li>
                            <li><a (click)="super_user_rates(arrow)"><i class="fa fa-money"></i> RATES <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperFour? 'block' : 'none'}">
                                <li><a routerLink="/superuser/rates/add">Add</a></li>
                                <li><a routerLink="/superuser/rates/update">Update</a></li>
                                <li><a routerLink="/superuser/rates/d2z-rates">D2Z Rates</a></li>
                                </ul>
                            </li>
                            <li><a (click)="super_user_invoices(arrow)"><i class="fa fa-connectdevelop"></i> INVOICES <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperFive ? 'block' : 'none'}">
                                <li><a routerLink="/superuser/invoices/pending">Pending</a></li>
                                <li><a routerLink="/superuser/invoices/reconcile">Reconcile</a></li>
                                <li><a routerLink="/superuser/invoice/not-billed">Not Billed</a></li>
                                <li><a routerLink="/superuser/invoice/non-d2zClient">Non D2Z-Client</a></li>
                                </ul>
                            </li>
                             <li><a (click)="super_user_reports(arrow)"><i class="fa fa-file"></i> REPORTS <span class="fa fa-chevron-down" #arrow></span></a>
                                <ul class="nav child_menu" [ngStyle]="{'display': !childmenuSuperSix ? 'block' : 'none'}">
                               
                                <li><a routerLink="/superuser/invoice-report">Shipment Summary</a></li>
                               <!-- <li><a routerLink="/superuser/etrack">eTower Tracking</a></li>-->
                                </ul>
                            </li>
                            <li>
                              <a routerLink="/home"><i class="fa fa-sign-out"></i> Logout</a>
                          </li>
                        </ul>
                    </div>
              </div>


    </div>
</div>

