
<body class="nav-md" #maintoggle>
        <div class="container body">
          <div class="main_container">

            <broker-header> </broker-header>

            <div class="right_col" role="main">
                  <div class="row tile_count">
                        <div class="page-title">
                                <div class="title_left">
                                  <h3 style="margin-left: 10px;"> Shipment / Download Shipment </h3>
                                </div>
                        </div>
                  </div>
                  
                  <div class="delete_search">
                      <div>
                        <p style="float:left; margin-top:5px"> Select Shipment to fetch records : </p>

                        <div style="margin-left:20px; float:left">
                            <p-dropdown [options]="ShipmentArray" 
                                        [(ngModel)]="selectedShipment" 
                                        optionLabel="name" 
                                        (onChange)="onShipmentChange($event)"
                                        [showClear]="true"
                                        [style]="{'width':'100%'}"
                                        [editable]="true">
                            </p-dropdown>
                        </div>

                      </div>

                      <div>
                          <p style="float:left; margin-top:5px; margin-left:40px"> Select Template : </p>
  
                          <div style="margin-left:20px; float:left">
                              <p-dropdown [options]="templateArray" [(ngModel)]="selectedTemplate" optionLabel="name" 
                                          (onChange)="onTemplateChange($event)">
                              </p-dropdown>
                          </div>
  
                          <button type="button" 
                                  class="btn btn-info" 
                                  (click)="downLoadSearch()"
                                  style="background-color: #16A085; margin-left:30px">
                                  <span class="glyphicon glyphicon-search"></span>
                                  Search</button>
  
                        </div>
                  </div>

                  <div class="delete_panel">
                      <ngx-spinner
                          bdColor="rgba(51,51,51,0.8)"
                          size="medium"
                          color="#fff"
                          loadingText="Loading..."
                          type="ball-clip-rotate-multiple">
                      </ngx-spinner>
                        
                        <div>
                                <p class="success_msg">{{successMsg}}</p>
                        </div>
      
                        <div>
                                <p class="err_msg">{{errorMsg}}</p>
                        </div>
                     
                      <button *ngIf="template1" 
                              type="button" 
                              class="btn btn-info" 
                              (click)="downloadShipmentDetails()"
                              style="background-color: #16A085; float:right; margin-right:20px">
                              <span class="glyphicon glyphicon-cloud-download"></span>
                              Download Shipment-1 Details
                      </button>

                      <button *ngIf="template2" 
                              type="button" 
                              class="btn btn-info" 
                              (click)="downloadShipmentDetails()"
                              style="background-color: #16A085; float:right; margin-right:20px">
                              <span class="glyphicon glyphicon-cloud-download"></span>
                              Download Shipment-2 Details
                      </button>
    
                      <div style="padding:20px">
                
                        <p> Please select the below records to download the Shipment Details</p>
                        
                          <div *ngIf="template1">
                              <ag-grid-angular 
                                        #agGrid style="width: 100%; height: 450px;" 
                                        class="ag-theme-balham" 
                                        [autoGroupColumnDef]="autoGroupColumnDef"
                                        [rowData]="rowData"
                                        [enableSorting]="true"
                                        [enableFilter]="true"
                                        [suppressRowClickSelection]="true"
                                        [groupSelectsChildren]="true"
                                        [debug]="true"
                                        [rowSelection]="rowSelection"
                                        [enableColResize]="true"
                                        [rowGroupPanelShow]="rowGroupPanelShow"
                                        [pivotPanelShow]="pivotPanelShow"
                                        [enableRangeSelection]="true"
                                        [pagination]="true"
                                        [defaultColDef]="defaultColDef"
                                        [gridOptions]="gridOptions" 
                                        [pagination]="true"
                                        (selectionChanged)="onSelectionChange($event)">
                              </ag-grid-angular>
                          </div>

                          <div *ngIf="template2">
                            <ag-grid-angular 
                                      #agGrid style="width: 100%; height: 450px;" 
                                      class="ag-theme-balham" 
                                      [autoGroupColumnDef]="autoGroupColumnDef"
                                      [rowData]="rowData"
                                      [enableSorting]="true"
                                      [enableFilter]="true"
                                      [suppressRowClickSelection]="true"
                                      [groupSelectsChildren]="true"
                                      [debug]="true"
                                      [rowSelection]="rowSelection"
                                      [enableColResize]="true"
                                      [rowGroupPanelShow]="rowGroupPanelShow"
                                      [pivotPanelShow]="pivotPanelShow"
                                      [enableRangeSelection]="true"
                                      [pagination]="true"
                                      [defaultColDef]="defaultColDef"
                                      [gridOptions]="gridOptionsTemplate1" 
                                      [pagination]="true"
                                      (selectionChanged)="onSelectionTemplateChange($event)">
                            </ag-grid-angular>
                        </div>

                      </div>
                  </div>
        
            </div>

            <footer id="footer" class="wow fadeIn">
                <div class="copyright">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text">
                            <p>&copy; Copyright 2018<span></span><a>{{system}}</a> (Distributor)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </footer>
            
          </div>
        </div>
      </body>
    