
<body class="nav-md" #maintoggle>
        <div class="container body">
          <div class="main_container">
            <div class="col-md-3 left_col">
              <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border:0">
                  <a href="index.html" class="site_title">
                    <img src="../../../assets/img/d2z-logo.png"/>
                  </a>
                </div>

                <div class="profile clearfix">
                  <div class="profile_pic">
                    <img src="../../../assets/img/img.jpg" alt="..." class="img-circle profile_img">
                  </div>
                  <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>{{this.userName}}</h2>
                  </div>
                </div>

                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="margin-top: -30px">
                  <div class="menu_section">
                      <ul class="nav side-menu">
                      <li>
                          <a (click)="toggle(arrow)"><i class="fa fa-home"></i> HOME <span class="fa fa-chevron-down" #arrow></span></a>
                          <ul class="nav child_menu" [ngStyle]="{'display': !childmenuOne ? 'block' : 'none'}">
                            <li><a routerLink="/broker-main">Information</a></li>
                          </ul>
                      </li>
                      <li><a (click)="toggle_zebra(arrow)"><i class="fa fa-edit"></i> CLIENT MANAGEMENT <span class="fa fa-chevron-down" #arrow></span></a>
                          <ul class="nav child_menu" [ngStyle]="{'display': !childmenuTwo ? 'block' : 'none'}">
                          <li><a routerLink="/broker/add-client">Add Client</a></li>
                          <li><a routerLink="/broker/update-client">Update Client</a></li>
                          </ul>
                      </li>
                      <li><a (click)="toggle_pdf(arrow)"><i class="fa fa-desktop"></i> PRINT LABELS <span class="fa fa-chevron-down" #arrow></span></a>
                          <ul class="nav child_menu" [ngStyle]="{'display': !childmenuThree ? 'block' : 'none'}">
                          <li><a routerLink="/broker/print">ZEBRA</a></li>
                          <li><a routerLink="/broker/pdf">PDF</a></li>
                          </ul>
                      </li>
                      <li><a (click)="toggle_utilities(arrow)"><i class="fa fa-table"></i> CREATE SHIPMENT <span class="fa fa-chevron-down" #arrow></span></a>
                          <ul class="nav child_menu" [ngStyle]="{'display': !childmenuFour ? 'block' : 'none'}">
                          <li><a routerLink="/broker/allocate-shipment">Allocate Shipment Data</a></li>
                          <li><a routerLink="/broker/scan-shipment">Scan to Shipment</a></li>
                          <li><a routerLink="/broker/download-shipment">Download Shipment Data</a></li>
                          </ul>
                      </li>
                      <li><a (click)="toggle_maniFest(arrow)"><i class="fa fa-bar-chart-o"></i> API <span class="fa fa-chevron-down" #arrow></span></a>
                          <ul class="nav child_menu" [ngStyle]="{'display': !childmenuFive ? 'block' : 'none'}">
                            <li><a routerLink="/broker/api/direct-injection">Direct Injection Data</a></li>
                            <li><a routerLink="/broker/api/upload-shipment">Upload File - Create Shipment</a></li>
                            <li><a routerLink="/broker/api/download-shipment">Download Shipment Data - API</a></li>
                          </ul>
                      </li>
                      <li>
                        <a routerLink="/home"><i class="fa fa-sign-out"></i> Logout</a>
                      </li>
                      </ul>
                  </div>
            </div>
              </div>
            </div>

            <div class="right_col" role="main">
                  <div class="row tile_count">
                        <div class="page-title">
                                <div class="title_left">
                                  <h3 style="margin-left: 10px;"> Shipment / Download Shipment </h3>
                                </div>
                        </div>
                  </div>
                  
                  <div class="delete_search">
                      <div>
                        <p style="float:left; margin-top:5px"> Select Shipment to fetch records : </p>

                        <div style="margin-left:20px; float:left">
                            <p-dropdown [options]="ShipmentArray" 
                                        [(ngModel)]="selectedShipment" 
                                        optionLabel="name" 
                                        (onChange)="onShipmentChange($event)">
                            </p-dropdown>
                        </div>

                      </div>

                      <div>
                          <p style="float:left; margin-top:5px; margin-left:40px"> Select Template : </p>
  
                          <div style="margin-left:20px; float:left">
                              <p-dropdown [options]="templateArray" [(ngModel)]="selectedTemplate" optionLabel="name" 
                                          (onChange)="onTemplateChange($event)">
                              </p-dropdown>
                          </div>
  
                          <button type="button" class="btn btn-info" (click)="downLoadSearch()"
                                  style="background-color: #16A085; margin-left:30px">Search</button>
  
                        </div>
                  </div>

                  <div class="delete_panel">
                      <ngx-spinner
                          bdColor="rgba(51,51,51,0.8)"
                          size="medium"
                          color="#fff"
                          loadingText="Loading..."
                          type="ball-clip-rotate-multiple">
                      </ngx-spinner>
                        
                        <div>
                                <p class="success_msg">{{successMsg}}</p>
                        </div>
      
                        <div>
                                <p class="err_msg">{{errorMsg}}</p>
                        </div>
                     
                      <button *ngIf="template1" type="button" 
                              class="btn btn-info" 
                              (click)="downloadShipmentDetails()"
                              style="background-color: #16A085; float:right; margin-right:20px">
                              Download Shipment-1 Details
                      </button>

                      <button *ngIf="template2" type="button" 
                              class="btn btn-info" 
                              (click)="downloadShipmentDetails()"
                              style="background-color: #16A085; float:right; margin-right:20px">
                              Download Shipment-2 Details
                      </button>
    
                      <div style="padding:20px">
                
                        <p> Please select the below records to download the Shipment Details</p>
                        
                          <div *ngIf="template1">
                              <ag-grid-angular 
                                        #agGrid style="width: 100%; height: 450px;" 
                                        class="ag-theme-balham" 
                                        [autoGroupColumnDef]="autoGroupColumnDef"
                                        [rowData]="rowData"
                                        [enableSorting]="true"
                                        [enableFilter]="true"
                                        [suppressRowClickSelection]="true"
                                        [groupSelectsChildren]="true"
                                        [debug]="true"
                                        [rowSelection]="rowSelection"
                                        [enableColResize]="true"
                                        [rowGroupPanelShow]="rowGroupPanelShow"
                                        [pivotPanelShow]="pivotPanelShow"
                                        [enableRangeSelection]="true"
                                        [pagination]="true"
                                        [defaultColDef]="defaultColDef"
                                        [gridOptions]="gridOptions" 
                                        [pagination]="true"
                                        (selectionChanged)="onSelectionChange($event)">
                              </ag-grid-angular>
                          </div>

                          <div *ngIf="template2">
                            <ag-grid-angular 
                                      #agGrid style="width: 100%; height: 450px;" 
                                      class="ag-theme-balham" 
                                      [autoGroupColumnDef]="autoGroupColumnDef"
                                      [rowData]="rowData"
                                      [enableSorting]="true"
                                      [enableFilter]="true"
                                      [suppressRowClickSelection]="true"
                                      [groupSelectsChildren]="true"
                                      [debug]="true"
                                      [rowSelection]="rowSelection"
                                      [enableColResize]="true"
                                      [rowGroupPanelShow]="rowGroupPanelShow"
                                      [pivotPanelShow]="pivotPanelShow"
                                      [enableRangeSelection]="true"
                                      [pagination]="true"
                                      [defaultColDef]="defaultColDef"
                                      [gridOptions]="gridOptionsTemplate1" 
                                      [pagination]="true"
                                      (selectionChanged)="onSelectionTemplateChange($event)">
                            </ag-grid-angular>
                        </div>

                      </div>
    
                  </div>
                  <!-- /top tiles -->
        
            </div>

            <!-- Start Footer -->
            <footer id="footer" class="wow fadeIn">
                <!-- Copyright -->
                <div class="copyright">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text">
                          <p>&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a>D2Z</a> (Distributor)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ End Copyright -->
            </footer>
             <!--/ End Footer -->

          </div>
        </div>
      </body>
    